openapi: 3.0.1
info:
  title: Rocketlane Comments Time Tracking API
  description: Rocketlane API
  version: '1.0'
servers:
- url: https://api.rocketlane.com/api
  description: Production
- url: https://api.nitro.run/api
  description: Staging
- url: https://project.api.orbits.run/api
  description: Orbits
security:
- api-key:
  - 'read : write'
tags:
- name: Time Tracking
  description: Endpoints for time entries and timesheets
paths:
  /1.0/time-entries/{timeEntryId}:
    get:
      tags:
      - Time Tracking
      summary: Get a time entry
      description: This endpoint can be used to get a time entry using its ID. This API returns the time entry object that matches the ID. The `includeFields` param can be used to customise the response.
      operationId: get-time-entry
      parameters:
      - name: timeEntryId
        in: path
        description: The unique, system-generated identifier, which can be used to identify the time entry globally.
        required: true
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 1
        example: 200
      - name: includeFields
        in: query
        description: This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - notes
            - sourceType
            - deleted
            - status
            - submittedBy
            - submittedAt
            - approvedBy
            - approvedAt
            - rejectedBy
            - rejectedAt
            - costRate
            - billRate
      - name: includeAllFields
        in: query
        description: This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned.
        required: false
        schema:
          type: boolean
          example: true
      responses:
        '200':
          description: The requested action was successfully executed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeEntryPublicAPIResponseEntity'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
        '404':
          description: If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundErrorlist'
    put:
      tags:
      - Time Tracking
      summary: Update a time entry
      description: This endpoint can be used to update a time entry using its ID. To ensure that the total time for all the time entries added for that date does not exceed 24 hours, the fields `date` and `minutes` are mandatory. The properties `activityName`, `notes`, `billable` and `minutes` can be updated using this endPoint. This API returns the updated time entry object.
      operationId: update-time-entry
      parameters:
      - name: timeEntryId
        in: path
        description: The unique, system-generated identifier, which can be used to identify the time entry globally.
        required: true
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 1
        example: 200
      - name: includeFields
        in: query
        description: This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - notes
            - sourceType
            - deleted
            - status
            - submittedBy
            - submittedAt
            - approvedBy
            - approvedAt
            - rejectedBy
            - rejectedAt
            - costRate
            - billRate
      - name: includeAllFields
        in: query
        description: This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned.
        required: false
        schema:
          type: boolean
          example: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimeEntryPublicAPIUpdateRequest'
      responses:
        '200':
          description: The requested action was successfully executed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeEntryPublicAPIResponseEntity'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
        '404':
          description: If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundErrorlist'
        '500':
          description: This error denotes that there is an error that occured within our servers. The response body could help narrow down the cause for the error by our support team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serverErrorErrorlist'
    delete:
      tags:
      - Time Tracking
      summary: Delete a time entry
      description: This endpoint can be used to delete a time entry using its ID. Upon successful deletion, _`HTTP status 204` - no content_ is returned as a response with no response body.
      operationId: delete-time-entry
      parameters:
      - name: timeEntryId
        in: path
        description: The unique, system-generated identifier, which can be used to identify the time entry globally.
        required: true
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 1
        example: 200
      responses:
        '204':
          description: The resource was successfully removed from the database.
          content:
            application/json:
              schema:
                type: string
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
        '404':
          description: If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundErrorlist'
  /1.0/time-entries:
    get:
      tags:
      - Time Tracking
      summary: Get all time entries
      description: 'This endpoint can be used to get all time entries. You can refine your search by adding filters. Filters are given as query parameters and have a defined structure: key is `field.operator` and value is `value`. For instance: `date.gt=2023-02-11`, `minutes.eq=250`. Apart from filters, you can add `sortBy` combined with `sortOrder` to sort the time entries. The response body is paginated and you can control the pagination using the `limit` and `pageToken` parameters.'
      operationId: get-all-time-entries
      parameters:
      - name: pageSize
        in: query
        description: This parameter sets the maximum number of responses to be displayed per page. If the page size is insufficient to accommodate the whole number of responses obtained, the pagination object will include a link to the next page as well as the next page token. If left blank, it defaults to 100.
        schema:
          minimum: 0
          type: number
          format: int32
          example: 100
      - name: pageToken
        in: query
        description: Use this parameter to specify the pageToken of a page to which you want to navigate. This pageToken can be obtained from a previous request which specified a limit and will only be active for 15 minutes after it is created.
        schema:
          type: string
          example: 59c12a42-dd10-11ed-afa1-0242ac120002
      - name: includeFields
        in: query
        description: This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - notes
            - sourceType
            - deleted
            - status
            - submittedBy
            - submittedAt
            - approvedBy
            - approvedAt
            - rejectedBy
            - rejectedAt
            - costRate
            - billRate
      - name: sortBy
        in: query
        description: 'You can use the sortBy param to sort the responses by the given field. Valid fields to perform sortBy are: `MINUTES`, `DATE`, `ID` and `BILLABLE`.'
        schema:
          type: string
          enum:
          - minutes
          - date
          - id
          - billable
      - name: sortOrder
        in: query
        description: The sortOrder param can be used to specify the sorting order, which can be Ascending (ASC) or Descending (DESC). Descending is the default option.
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: match
        in: query
        description: You can use the match param to specify if we need to filter the entries using either AND(all) / OR(any). Defaults to AND.
        schema:
          type: string
          enum:
          - all
          - any
      - name: date.gt
        in: query
        description: You can use this param to specify some date and the responses will contain time-entries whose date are greater than the given date.
        schema:
          type: string
          example: '2023-03-28'
      - name: date.eq
        in: query
        description: You can use this param to specify some date and the responses will contain exact matches of time-entries that match the given date.
        schema:
          type: string
          example: '2023-03-28'
      - name: date.lt
        in: query
        description: You can use this param to specify some date and the responses will contain time-entries whose date are less than the given date.
        schema:
          type: string
          example: '2023-03-28'
      - name: date.ge
        in: query
        description: You can use this param to specify some date and the responses will contain time-entries whose date are greater than or equal to the given date.
        schema:
          type: string
          example: '2023-03-28'
      - name: date.le
        in: query
        description: You can use this param to specify some date and the responses will contain time-entries whose date are less than or equal to the given date.
        schema:
          type: string
          example: '2023-03-28'
      - name: project.eq
        in: query
        description: You can use this param to specify some project Id and the responses will contain exact matches of time-entries that match the given project.
        deprecated: true
        schema:
          type: number
          example: 201
      - name: projectId.eq
        in: query
        description: You can use this param to specify some project Id and the responses will contain exact matches of time-entries that match the given project.
        schema:
          type: number
          example: 201
      - name: task.eq
        in: query
        description: You can use this param to specify some task Id and the responses will contain exact matches of time-entries that match the given task.
        deprecated: true
        schema:
          type: number
          example: 202
      - name: taskId.eq
        in: query
        description: You can use this param to specify some task Id and the responses will contain exact matches of time-entries that match the given task.
        schema:
          type: number
          example: 202
      - name: taskId.oneOf
        in: query
        description: You can use this param to provide ids of task and the responses will contain time entries whose time entries that contains the given task ids
        schema:
          type: number
          example: 202
      - name: taskId.noneOf
        in: query
        description: You can use this param to provide ids of task and the responses will contain time entries whose time entries that contains the given task ids
        schema:
          type: number
          example: 202
      - name: projectPhase.eq
        in: query
        description: You can use this param to specify some project phase Id and the responses will contain exact matches of time-entries that match the given phase.
        schema:
          type: number
          example: 210
      - name: category.eq
        in: query
        description: You can use this param to specify some category Id and the responses will contain exact matches of time-entries that match the given category.
        schema:
          type: number
          example: 5
      - name: user.eq
        in: query
        description: You can use this param to specify some user Id and the responses will contain exact matches of time-entries that belong to the user with the given user Id.
        schema:
          type: number
          example: 5
      - name: emailId.eq
        in: query
        description: You can use this param to specify some email Id and the responses will contain exact matches of time-entries that belong to the user with the given email Id.
        schema:
          type: string
          example: john.doe@rocketlane.com
      - name: emailId.cn
        in: query
        description: You can use this param to specify some text and the responses will contain time-entries that contain the given text in their email name.
        schema:
          type: string
          example: john.doe
      - name: emailId.nc
        in: query
        description: You can use this param to specify some text and the responses will contain time-entries that _DO NOT_ contain the given text in their email Id.
        schema:
          type: string
          example: john.doe
      - name: sourceType.eq
        in: query
        description: You can use this param to specify a source type for the time entries and the responses will contain exact matches of time-entries that have the given source type.
        schema:
          type: string
          enum:
          - GOOGLE_CALENDAR
          - OUTLOOK_CALENDAR
          - TASK
          - PROJECT
          - PHASE
          - ADHOC
          - MILESTONE
      - name: activityName.eq
        in: query
        description: You can use this param to specify some activity name and the responses will contain exact matches of time-entries that match the given activity name.
        schema:
          type: string
          example: Pre-Sales Campaign
      - name: activityName.cn
        in: query
        description: You can use this param to specify some text and the responses will contain time-entries that contain the given text in their activity name.
        schema:
          type: string
          example: Sales
      - name: activityName.nc
        in: query
        description: You can use this param to specify some text and the responses will contain time-entries that _DO NOT_ contain the given text in their activity name.
        schema:
          type: string
          example: Sales
      - name: approvalStatus.eq
        in: query
        description: You can use this param to specify an approval status for the time entries and the responses will contain exact matches of time-entries that have the given approval type.
        schema:
          type: string
          enum:
          - NOT_SUBMITTED
          - SUBMITTED
          - APPROVED
          - REJECTED
      - name: submittedBy.eq
        in: query
        description: You can use this param to specify a submitter for the time entries and the response will contain time-entries submitted by the given user.
        schema:
          type: number
          example: 5
      - name: submittedAt.eq
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain time entries submitted at the given timestamp.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: submittedAt.gt
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain time entries submitted after the given timestamp.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: submittedAt.ge
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain time entries submitted at or after the given timestamp.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: submittedAt.lt
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain time entries submitted before the given timestamp.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: submittedAt.le
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain time entries submitted at or before the given timestamp.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: approvedBy.eq
        in: query
        description: You can use this param to specify an approver for the time entries and the response will contain time-entries approved by the given user.
        schema:
          type: number
          example: 5
      - name: approvedAt.eq
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain time entries approved at the given timestamp.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: approvedAt.gt
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain time entries approved after the given timestamp.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: approvedAt.ge
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain time entries approved at or after the given timestamp.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: approvedAt.lt
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain time entries approved before the given timestamp.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: approvedAt.le
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain time entries approved at or before the given timestamp.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: rejectedBy.eq
        in: query
        description: You can use this param to specify a rejecter for the time entries and the response will contain time-entries rejected by the given user.
        schema:
          type: number
          example: 5
      - name: rejectedAt.eq
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain time entries rejected at the given timestamp.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: rejectedAt.gt
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain time entries rejected after the given timestamp.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: rejectedAt.ge
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain time entries rejected at or after the given timestamp.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: rejectedAt.lt
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain time entries rejected before the given timestamp.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: rejectedAt.le
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain time entries rejected at or before the given timestamp.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: billable.eq
        in: query
        description: You can use this param to specify the billable flag for the time entries and the responses will contain exact matches of time-entries that have the given billable.
        schema:
          type: boolean
          example: true
      - name: includeDeleted.eq
        in: query
        description: You can use this parameter to specify whether responses will include the deleted time entries.
        schema:
          type: boolean
          example: false
      - name: createdAt.gt
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain time entries whose date are greater than the given time entries created date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: createdAt.eq
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain exact matches of time entries that match the given time entries created date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: createdAt.lt
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain time entries whose date are less than the given time entries created date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: createdAt.ge
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain time entries whose date are greater than or equal to the given time entries created date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: createdAt.le
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain time entries whose date are less than or equal to the given time entries created date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: updatedAt.gt
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain time entries whose date are greater than the given time entries updated date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: updatedAt.eq
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain exact matches of time entries that match the given time entries updated date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: updatedAt.lt
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain time entries whose date are less than the given time entries updated date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: updatedAt.ge
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain time entries whose date are greater than or equal to the given time entries updated date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: updatedAt.le
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain time entries whose date are less than or equal to the given time entries updated date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      responses:
        '200':
          description: The requested action was successfully executed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExampleAPIResponseTimeEntries'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
    post:
      tags:
      - Time Tracking
      summary: Create a time entry
      description: 'This endpoint can be used to create a time entry. It is mandatory to provide values for these three properties: `date`, `minutes` and the source of the time entry, which can be either one of `activityName`, `task`, `projectPhase` or `project`. The `activityName` param can be used to track time against adhoc activities. Providing multiple sources as input will result in an error. This API returns the created time entry object.'
      operationId: create-time-entry
      parameters:
      - name: includeFields
        in: query
        description: This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - notes
            - sourceType
            - deleted
            - status
            - submittedBy
            - submittedAt
            - approvedBy
            - approvedAt
            - rejectedBy
            - rejectedAt
            - costRate
            - billRate
      - name: includeAllFields
        in: query
        description: This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned.
        required: false
        schema:
          type: boolean
          example: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimeEntryPublicAPIRequest'
      responses:
        '201':
          description: The resource was successfully created in the database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeEntryPublicAPIResponseEntity'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
        '500':
          description: This error denotes that there is an error that occured within our servers. The response body could help narrow down the cause for the error by our support team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serverErrorErrorlist'
  /1.0/time-entries/search:
    get:
      tags:
      - Time Tracking
      summary: Search time entries
      description: 'This endpoint can be used to search for time entries. You can refine your search by adding filters. Filters are given as query parameters and have a defined structure: key is `field.operator` and value is `value`. For instance: `date.gt=2023-02-11`, `minutes.eq=250`. Apart from filters, you can add `sortBy` combined with `sortOrder` to sort the time entries. The response body is paginated and you can control the pagination using the `limit` and `pageToken` parameters.'
      operationId: search-time-entries
      parameters:
      - name: pageSize
        in: query
        description: This parameter sets the maximum number of responses to be displayed per page. If the page size is insufficient to accommodate the whole number of responses obtained, the pagination object will include a link to the next page as well as the next page token. If left blank, it defaults to 100.
        schema:
          minimum: 0
          type: number
          format: int32
          example: 100
      - name: pageToken
        in: query
        description: Use this parameter to specify the pageToken of a page to which you want to navigate. This pageToken can be obtained from a previous request which specified a limit and will only be active for 15 minutes after it is created.
        schema:
          type: string
          example: 59c12a42-dd10-11ed-afa1-0242ac120002
      - name: includeFields
        in: query
        description: This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned.
        schema:
          type: string
          example: notes,user
      - name: includeAllFields
        in: query
        description: This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned.
        schema:
          type: boolean
          example: true
      - name: sortBy
        in: query
        description: 'You can use the sortBy param to sort the responses by the given field. Valid fields to perform sortBy are: `MINUTES`, `DATE`, `ID` and `BILLABLE`.'
        schema:
          type: string
          enum:
          - minutes
          - date
          - id
          - billable
      - name: sortOrder
        in: query
        description: The sortOrder param can be used to specify the sorting order, which can be Ascending (ASC) or Descending (DESC). Descending is the default option.
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: match
        in: query
        description: You can use the match param to specify if we need to filter the entries using either AND(all) / OR(any). Defaults to AND.
        schema:
          type: string
          enum:
          - all
          - any
      - name: date.gt
        in: query
        description: You can use this param to specify some date and the responses will contain time-entries whose date are greater than the given date.
        schema:
          type: string
          example: '2023-03-28'
      - name: date.eq
        in: query
        description: You can use this param to specify some date and the responses will contain exact matches of time-entries that match the given date.
        schema:
          type: string
          example: '2023-03-28'
      - name: date.lt
        in: query
        description: You can use this param to specify some date and the responses will contain time-entries whose date are less than the given date.
        schema:
          type: string
          example: '2023-03-28'
      - name: date.ge
        in: query
        description: You can use this param to specify some date and the responses will contain time-entries whose date are greater than or equal to the given date.
        schema:
          type: string
          example: '2023-03-28'
      - name: date.le
        in: query
        description: You can use this param to specify some date and the responses will contain time-entries whose date are less than or equal to the given date.
        schema:
          type: string
          example: '2023-03-28'
      - name: project.eq
        in: query
        description: You can use this param to specify some project Id and the responses will contain exact matches of time-entries that match the given project.
        schema:
          type: number
          example: 201
      - name: task.eq
        in: query
        description: You can use this param to specify some task Id and the responses will contain exact matches of time-entries that match the given task.
        schema:
          type: number
          example: 202
      - name: projectPhase.eq
        in: query
        description: You can use this param to specify some project phase Id and the responses will contain exact matches of time-entries that match the given phase.
        schema:
          type: number
          example: 210
      - name: category.eq
        in: query
        description: You can use this param to specify some category Id and the responses will contain exact matches of time-entries that match the given category.
        schema:
          type: number
          example: 5
      - name: user.eq
        in: query
        description: You can use this param to specify some user Id and the responses will contain exact matches of time-entries that belong to the user with the given user Id.
        schema:
          type: number
          example: 5
      - name: sourceType.eq
        in: query
        description: You can use this param to specify a source type for the time entries and the responses will contain exact matches of time-entries that have the given source type.
        schema:
          type: string
          enum:
          - GOOGLE_CALENDAR
          - OUTLOOK_CALENDAR
          - TASK
          - PROJECT
          - PHASE
          - ADHOC
          - MILESTONE
      - name: activityName.eq
        in: query
        description: You can use this param to specify some activity name and the responses will contain exact matches of time-entries that match the given activity name.
        schema:
          type: string
          example: Pre-Sales Campaign
      - name: activityName.cn
        in: query
        description: You can use this param to specify some text and the responses will contain time-entries that contain the given text in their activity name.
        schema:
          type: string
          example: Sales
      - name: activityName.nc
        in: query
        description: You can use this param to specify some text and the responses will contain time-entries that _DO NOT_ contain the given text in their activity name.
        schema:
          type: string
          example: Sales
      - name: approvalStatus.eq
        in: query
        description: You can use this param to specify an approval status for the time entries and the responses will contain exact matches of time-entries that have the given approval type.
        schema:
          type: string
          enum:
          - NOT_SUBMITTED
          - SUBMITTED
          - APPROVED
          - REJECTED
      responses:
        '200':
          description: The requested action was successfully executed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExampleAPIResponseTimeEntries'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
      deprecated: true
  /1.0/time-entries/categories:
    get:
      tags:
      - Time Tracking
      summary: Get time entry categories
      description: This endpoint can be used to fetch the time entry categories. This API returns a paginated object containing the various time entry categories present.
      operationId: get-time-entry-categories
      parameters:
      - name: pageSize
        in: query
        description: This parameter sets the maximum number of responses to be displayed per page. If the page size is insufficient to accommodate the whole number of responses obtained, the pagination object will include a link to the next page as well as the next page token. If left blank, it defaults to 100.
        schema:
          minimum: 0
          type: number
          format: int32
          example: 100
      - name: pageToken
        in: query
        description: Use this parameter to specify the pageToken of a page to which you want to navigate. This pageToken can be obtained from a previous request which specified a limit and will only be active for 15 minutes after it is created.
        schema:
          type: string
          example: 59c12a42-dd10-11ed-afa1-0242ac120002
      responses:
        '200':
          description: The requested action was successfully executed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExampleAPIResponseTimeEntryCategories'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
components:
  schemas:
    TimeEntryPublicAPIResponseEntity:
      type: object
      properties:
        timeEntryId:
          minimum: 1
          type: integer
          description: The unique, system-generated identifier, which can be used to identify the time entry globally.
          format: int64
          readOnly: true
          example: 201
        date:
          type: string
          description: Date of the time entry in format YYYY-MM-DD
          example: '2023-03-28'
        minutes:
          maximum: 1440
          minimum: 1
          type: integer
          description: Duration of the time entry in minutes
          format: int32
          example: 250
        activityName:
          type: string
          description: Name of the adhoc activity being performed
          example: Pre-Sales campaign
        project:
          $ref: '#/components/schemas/TimeEntryProjectPublicAPIResponseEntity'
        task:
          $ref: '#/components/schemas/TimeEntryTaskPublicAPI'
        projectPhase:
          $ref: '#/components/schemas/TimeEntryPhasePublicAPIResponseEntity'
        createdAt:
          type: integer
          description: Timestamp of creation time of the entry in epoch milliseconds
          format: int64
          readOnly: true
          example: 1681319726000
        updatedAt:
          type: integer
          description: Timestamp of last updated time of the entry in epoch milliseconds
          format: int64
          readOnly: true
          example: 1681319726000
        createdBy:
          $ref: '#/components/schemas/TimeEntryCreatedByPublicResponse'
        updatedBy:
          $ref: '#/components/schemas/TimeEntryUpdatedByPublicResponse'
        billable:
          type: boolean
          description: Whether the time entry is billable. Defaults to true
          example: true
          default: true
        user:
          $ref: '#/components/schemas/UserPublicAPIResponseEntity'
        notes:
          type: string
          description: Notes for the time entry
          example: Working on API integration
        category:
          $ref: '#/components/schemas/TimeEntryCategoryPublicAPI'
        sourceType:
          type: string
          description: 'Type of source of the time entry Eg: Task, Adhoc (Activity), Milestone'
          readOnly: true
          example: Task
          enum:
          - GOOGLE_CALENDAR
          - OUTLOOK_CALENDAR
          - TASK
          - PROJECT
          - PHASE
          - ADHOC
          - MILESTONE
        status:
          type: string
          description: Status of the time entry
          enum:
          - NOT_SUBMITTED
          - SUBMITTED
          - APPROVED
          - REJECTED
        submittedBy:
          $ref: '#/components/schemas/TimeEntrySubmittedByPublicResponse'
        submittedAt:
          type: integer
          description: 'Time of submission for time entry


            Note: This field may be null, even when the time entry is in an APPROVED or REJECTED state, as time entries can be approved or rejected without an explicit submission step.'
          format: int64
          readOnly: true
          example: 1681319726000
        approvedBy:
          $ref: '#/components/schemas/TimeEntryApprovedByPublicResponse'
        approvedAt:
          type: integer
          description: Time of approval for time entry
          format: int64
          readOnly: true
          example: 1681319726000
        rejectedBy:
          $ref: '#/components/schemas/TimeEntryRejectedByPublicResponse'
        rejectedAt:
          type: integer
          description: Time of rejection for time entry
          format: int64
          readOnly: true
          example: 1681319726000
        deleted:
          type: boolean
          description: Whether the time entry is deleted.
          example: true
        costRate:
          $ref: '#/components/schemas/TimeEntryCostRatePublicAPI'
        billRate:
          $ref: '#/components/schemas/TimeEntryBillRatePublicAPI'
        fields:
          type: array
          description: Custom fields associated with the time entry
          items:
            $ref: '#/components/schemas/TimeEntryFieldPublicResponseAPIEntity'
    ExampleAPIResponseTimeEntries:
      type: object
      properties:
        data:
          type: array
          description: Reflects all the default and custom fields and their values for the object searched, in an array format. If the includeFields param is utilised in the request body, it will return a customised response.
          items:
            $ref: '#/components/schemas/TimeEntryPublicAPIResponseForExample'
        pagination:
          $ref: '#/components/schemas/ExamplePaginationTimeEntries'
    TimeEntryPublicAPIResponseForExample:
      type: object
      properties:
        timeEntryId:
          minimum: 1
          type: integer
          description: The unique, system-generated identifier, which can be used to identify the time entry globally.
          format: int64
          readOnly: true
          example: 201
        date:
          type: string
          description: Date of the time entry in format YYYY-MM-DD
          example: '2023-03-28'
        minutes:
          maximum: 1440
          minimum: 1
          type: integer
          description: Duration of the time entry in minutes
          format: int32
          example: 250
        activityName:
          type: string
          description: Name of the adhoc activity being performed
          example: Pre-Sales campaign
        project:
          $ref: '#/components/schemas/TimeEntryProjectPublicAPIResponseEntity'
        task:
          $ref: '#/components/schemas/TimeEntryTaskPublicAPI'
        projectPhase:
          $ref: '#/components/schemas/TimeEntryPhasePublicAPIResponseEntity'
        createdAt:
          type: integer
          description: Timestamp of creation time of the entry in epoch milliseconds
          format: int64
          readOnly: true
          example: 1681319726000
        updatedAt:
          type: integer
          description: Timestamp of last updated time of the entry in epoch milliseconds
          format: int64
          readOnly: true
          example: 1681319726000
        createdBy:
          $ref: '#/components/schemas/TimeEntryCreatedByPublicResponse'
        updatedBy:
          $ref: '#/components/schemas/TimeEntryUpdatedByPublicResponse'
        billable:
          type: boolean
          description: Whether the time entry is billable. Defaults to true
          example: true
          default: true
        user:
          $ref: '#/components/schemas/UserPublicAPIResponseEntity'
        notes:
          type: string
          description: Notes for the time entry
          example: Working on API integration
        category:
          $ref: '#/components/schemas/TimeEntryCategoryPublicAPI'
        sourceType:
          type: string
          description: 'Type of source of the time entry Eg: Task, Adhoc (Activity), Milestone'
          readOnly: true
          example: Task
          enum:
          - GOOGLE_CALENDAR
          - OUTLOOK_CALENDAR
          - TASK
          - PROJECT
          - PHASE
          - ADHOC
          - MILESTONE
        status:
          type: string
          description: Status of the time entry
          enum:
          - NOT_SUBMITTED
          - SUBMITTED
          - APPROVED
          - REJECTED
        submittedBy:
          $ref: '#/components/schemas/TimeEntrySubmittedByPublicResponse'
        submittedAt:
          type: integer
          description: 'Time of submission for time entry


            Note: This field may be null, even when the time entry is in an APPROVED or REJECTED state, as time entries can be approved or rejected without an explicit submission step.'
          format: int64
          readOnly: true
          example: 1681319726000
        approvedBy:
          $ref: '#/components/schemas/TimeEntryApprovedByPublicResponse'
        approvedAt:
          type: integer
          description: Time of approval for time entry
          format: int64
          readOnly: true
          example: 1681319726000
        rejectedBy:
          $ref: '#/components/schemas/TimeEntryRejectedByPublicResponse'
        rejectedAt:
          type: integer
          description: Time of rejection for time entry
          format: int64
          readOnly: true
          example: 1681319726000
        deleted:
          type: boolean
          description: Whether the time entry is deleted.
          example: true
        costRate:
          $ref: '#/components/schemas/TimeEntryCostRatePublicAPI'
        billRate:
          $ref: '#/components/schemas/TimeEntryBillRatePublicAPI'
        fields:
          type: array
          description: Custom fields associated with the time entry
          items:
            $ref: '#/components/schemas/TimeEntryFieldPublicResponseAPIEntity'
      description: Reflects all the default and custom fields and their values for the object searched, in an array format. If the includeFields param is utilised in the request body, it will return a customised response.
    badRequestErrorlist:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Example400'
    TimeEntryTaskPublicAPI:
      type: object
      properties:
        taskName:
          type: string
          description: The name of the task.
          readOnly: true
          example: Kickoff meeting
        taskId:
          type: integer
          description: The task’s unique, system-generated identifier, which can be used to identify the task globally.
          format: int64
          example: 201
      description: Task associated with the time entry
    TimeEntryCategoryPublicForExample:
      type: object
      properties:
        categoryName:
          type: string
          description: The name of the category.
          readOnly: true
          example: Pre-sales
        categoryId:
          type: integer
          description: The unique identifier for the category.
          format: int64
          example: 8
      description: Reflects all the default and custom fields and their values for the object searched, in an array format. If the includeFields param is utilised in the request body, it will return a customised response.
    TimeEntryFieldPublicResponseAPIEntity:
      type: object
      properties:
        fieldId:
          minimum: 1
          type: integer
          description: The unique identifier for the field.
          format: int64
          readOnly: true
          example: 201
        fieldLabel:
          type: string
          description: The label of the field.
          readOnly: true
          example: MRR
        fieldValue:
          type: object
          description: The `fieldValue` is the value provided while creation or updating. The fieldValue can be a string, an integer, or an array and it must match the type of the field.
          readOnly: true
          example: 1000
        fieldValueLabel:
          type: string
          description: The `fieldValueLabel` is the value provided while creation or updating in a String format.
          readOnly: true
          example: '1000'
      description: Custom fields associated with the time entry
    Example500:
      type: object
      properties:
        errorCode:
          type: string
          description: 'Error code refers to the type of error that you are facing. Some examples of error codes are: `BAD_REQUEST`, `NOT_FOUND`, `INTERNAL_SERVER_ERROR`.'
          example: SERVER_ERROR
        errorMessage:
          type: string
          description: Error message describes in brief about the issue. You can read the error message to get a understanding of where the request went wrong and attempt to fix it.
          example: 'Server Error: Something went wrong on our end. Could not perform the requested action.'
    TimeEntryProjectPublicAPIResponseEntity:
      type: object
      properties:
        projectName:
          type: string
          description: The name of the project.
          readOnly: true
          example: Acme Onboarding
        projectId:
          type: integer
          description: The project’s unique, system-generated identifier, which can be used to identify the project globally.
          format: int64
          readOnly: true
          example: 204
      description: Project associated with the time entry
    TimeEntryCostRatePublicAPI:
      type: object
      properties:
        rate:
          type: number
          description: The monetary amount assigned to a specific service or activity.
          example: 40
        currency:
          type: string
          description: The three-letter ISO currency code representing the currency in which transactions are conducted.
          example: USD
      description: ' The hourly rate assigned to employees for the work they perform for your organization'
    TimeEntryPublicAPIRequest:
      required:
      - date
      - minutes
      type: object
      properties:
        timeEntryId:
          minimum: 1
          type: integer
          description: The unique, system-generated identifier, which can be used to identify the time entry globally.
          format: int64
          readOnly: true
          example: 201
        date:
          type: string
          description: Date of the time entry in format YYYY-MM-DD
          example: '2023-03-28'
        minutes:
          maximum: 1440
          minimum: 1
          type: integer
          description: Duration of the time entry in minutes
          format: int32
          example: 250
        activityName:
          type: string
          description: Name of the adhoc activity being performed
          example: Pre-Sales campaign
        project:
          $ref: '#/components/schemas/TimeEntryProjectPublicAPIRequestEntity'
        task:
          $ref: '#/components/schemas/TimeEntryTaskPublicAPI'
        projectPhase:
          $ref: '#/components/schemas/TimeEntryPhasePublicAPIRequestEntity'
        billable:
          type: boolean
          description: Whether the time entry is billable. Defaults to true
          example: true
          default: true
        user:
          $ref: '#/components/schemas/TimesheetsUserPublicAPI'
        notes:
          type: string
          description: Notes for the time entry
          example: Working on API integration
        category:
          $ref: '#/components/schemas/TimeEntryCategoryPublicAPI'
        fields:
          type: array
          description: The custom fields can be set during the time-entry creation with the help of `fields`. The `fieldValue` can be either a string or a number or an array and it has to comply with the type of the field. Refer [examples](https://developer.rocketlane.com/v1.0/docs/custom-fields#examples-of-requests-and-responses-for-assigning-custom-field-values) to know how to assign `fieldValue` based on their `field_type`.
          items:
            $ref: '#/components/schemas/FieldPublicRequestAPIEntity'
    unauthorizedErrorlist:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Example401'
    TimeEntryCategoryPublicAPI:
      type: object
      properties:
        categoryName:
          type: string
          description: The name of the category.
          readOnly: true
          example: Pre-sales
        categoryId:
          type: integer
          description: The unique identifier for the category.
          format: int64
          example: 8
      description: Category associated with the time entry
    Example400:
      type: object
      properties:
        errorCode:
          type: string
          description: 'Error code refers to the type of error that you are facing. Some examples of error codes are: `BAD_REQUEST`, `NOT_FOUND`, `INTERNAL_SERVER_ERROR`.'
          example: BAD_REQUEST
        errorMessage:
          type: string
          description: Error message describes in brief about the issue. You can read the error message to get a understanding of where the request went wrong and attempt to fix it.
          example: 'Bad Request: Minutes is negative'
        field:
          type: string
          description: Fields refers to the parameter/field that was invalid in the request (if any). It will point you to the field that needs attention.
          example: minutes
    TimeEntryPublicAPIUpdateRequest:
      type: object
      properties:
        timeEntryId:
          minimum: 1
          type: integer
          description: The unique, system-generated identifier, which can be used to identify the time entry globally.
          format: int64
          readOnly: true
          example: 201
        date:
          type: string
          description: Date of the time entry in format YYYY-MM-DD
          readOnly: true
          example: '2023-03-28'
        minutes:
          maximum: 1440
          minimum: 1
          type: integer
          description: Duration of the time entry in minutes
          format: int32
          example: 250
        activityName:
          type: string
          description: Name of the adhoc activity being performed
          example: Pre-Sales campaign
        notes:
          type: string
          description: Notes for the time entry
          example: Working on API integration
        category:
          $ref: '#/components/schemas/TimeEntryCategoryPublicAPI'
        fields:
          type: array
          description: The custom fields can be set during the time-entry creation with the help of `fields`. The `fieldValue` can be either a string or a number or an array and it has to comply with the type of the field. Refer [examples](https://developer.rocketlane.com/v1.0/docs/custom-fields#examples-of-requests-and-responses-for-assigning-custom-field-values) to know how to assign `fieldValue` based on their `field_type`.
          items:
            $ref: '#/components/schemas/FieldPublicRequestAPIEntity'
        billable:
          type: boolean
    TimeEntryPhasePublicAPIRequestEntity:
      type: object
      properties:
        phaseId:
          type: integer
          description: The unique identifier for the phase.
          format: int64
          example: 201
        phaseName:
          type: string
          description: The name of the phase.
          readOnly: true
          example: Go live
      description: Project phase associated with the time entry
    TimeEntryProjectPublicAPIRequestEntity:
      type: object
      properties:
        projectName:
          type: string
          description: The name of the project.
          readOnly: true
          example: Acme Onboarding
        projectId:
          type: integer
          description: The unique identifier for the project.
          format: int64
          example: 204
      description: Project associated with the time entry
    FieldPublicRequestAPIEntity:
      type: object
      properties:
        fieldId:
          minimum: 1
          type: integer
          description: The unique identifier of the field
          format: int64
          example: 201
        fieldLabel:
          type: string
          description: The fieldLabel is the name of the custom field.
          readOnly: true
          example: MRR
        fieldValue:
          type: object
          description: The value for the field. It can either be a string or a number or number array.  Refer [example](https://developer.rocketlane.com/v1.0/docs/custom-fields#examples-of-requests-and-responses-for-assigning-custom-field-values) to know more about assigning value for different fields.
          example: 1000
          oneOf:
          - type: string
          - type: number
      description: The custom fields can be set during the time-entry creation with the help of `fields`. The `fieldValue` can be either a string or a number or an array and it has to comply with the type of the field. Refer [examples](https://developer.rocketlane.com/v1.0/docs/custom-fields#examples-of-requests-and-responses-for-assigning-custom-field-values) to know how to assign `fieldValue` based on their `field_type`.
    ExamplePaginationTimeEntryCategories:
      type: object
      properties:
        pageSize:
          type: integer
          description: Denotes the page size mentioned in the current request (limit). It defaults to 100 if left blank.
          format: int32
          example: 100
        hasMore:
          type: boolean
          description: Tells us if there is more content.
          example: true
        totalRecordCount:
          type: integer
          description: Denotes the total resources matching the filters.
          format: int64
          example: 10398
        nextPage:
          type: string
          description: Denotes an API URL, which can be conveniently called to perform the subsequent search call to get to the next page.
          example: https://api.rocketlane.com/api/1.0/time-entries/categories?includeFields=category,minutes&billable.eq=false&sortBy=startDate&sortOrder=desc&pageToken=e4a3dd8e-e338-11ed-b5ea-0242ac120002&limit=100&assignee.any=1&startDate.gt=2022-01-02
        nextPageToken:
          type: string
          description: Denotes a unique token that points to the next page of resources. To get results from subsequent pages, you can use the nextPageToken available in the response under pagination. This token is valid for 15 minutes.
          example: e4a3dd8e-e338-11ed-b5ea-0242ac120002
      description: Responses that return multiple objects will be paginated. The pagination params define how pages are structured and how to traverse through pages.
    TimeEntrySubmittedByPublicResponse:
      type: object
      properties:
        emailId:
          type: string
          description: The user's email identifier.
          example: john.doe@rocketlane.com
        userId:
          type: integer
          description: The unique identifier for the user.
          format: int64
          readOnly: true
          example: 201
        firstName:
          type: string
          description: The first name of the user.
          readOnly: true
          example: John
        lastName:
          type: string
          description: The last name of the user.
          readOnly: true
          example: Doe
      description: 'User who submitted the time entry


        Note: This field may be null, even when the time entry is in an APPROVED or REJECTED state, as time entries can be approved or rejected without an explicit submission step.'
    ExampleAPIResponseTimeEntryCategories:
      type: object
      properties:
        data:
          type: array
          description: Reflects all the default and custom fields and their values for the object searched, in an array format. If the includeFields param is utilised in the request body, it will return a customised response.
          items:
            $ref: '#/components/schemas/TimeEntryCategoryPublicForExample'
        pagination:
          $ref: '#/components/schemas/ExamplePaginationTimeEntryCategories'
    notFoundErrorlist:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Example404'
    TimeEntryUpdatedByPublicResponse:
      type: object
      properties:
        emailId:
          type: string
          description: The user's email identifier.
          example: john.doe@rocketlane.com
        userId:
          type: integer
          description: The unique identifier for the user.
          format: int64
          readOnly: true
          example: 201
        firstName:
          type: string
          description: The first name of the user.
          readOnly: true
          example: John
        lastName:
          type: string
          description: The last name of the user.
          readOnly: true
          example: Doe
      description: The team member who updated the ttime entry.
    TimeEntryRejectedByPublicResponse:
      type: object
      properties:
        emailId:
          type: string
          description: The user's email identifier.
          example: john.doe@rocketlane.com
        userId:
          type: integer
          description: The unique identifier for the user.
          format: int64
          readOnly: true
          example: 201
        firstName:
          type: string
          description: The first name of the user.
          readOnly: true
          example: John
        lastName:
          type: string
          description: The last name of the user.
          readOnly: true
          example: Doe
      description: User who rejected the time entry
    UserPublicAPIResponseEntity:
      type: object
      properties:
        emailId:
          type: string
          description: The user's email identifier.
          readOnly: true
          example: john.doe@rocketlane.com
        userId:
          type: integer
          description: The unique identifier for the user.
          format: int64
          example: 201
        firstName:
          type: string
          description: The first name of the user.
          readOnly: true
          example: John
        lastName:
          type: string
          description: The last name of the user.
          readOnly: true
          example: Doe
      description: User associated with the time entry
      readOnly: true
    serverErrorErrorlist:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Example500'
    Example401:
      type: object
      properties:
        errorCode:
          type: string
          description: 'Error code refers to the type of error that you are facing. Some examples of error codes are: `BAD_REQUEST`, `NOT_FOUND`, `INTERNAL_SERVER_ERROR`.'
          example: NOT_AUTHORIZED
        errorMessage:
          type: string
          description: Error message describes in brief about the issue. You can read the error message to get a understanding of where the request went wrong and attempt to fix it.
          example: 'Not Authorized: User not authorized'
    TimeEntryCreatedByPublicResponse:
      type: object
      properties:
        emailId:
          type: string
          description: The user's email identifier.
          example: john.doe@rocketlane.com
        userId:
          type: integer
          description: The unique identifier for the user.
          format: int64
          readOnly: true
          example: 201
        firstName:
          type: string
          description: The first name of the user.
          readOnly: true
          example: John
        lastName:
          type: string
          description: The last name of the user.
          readOnly: true
          example: Doe
      description: The team member who created the time entry.
    TimeEntryPhasePublicAPIResponseEntity:
      type: object
      properties:
        phaseId:
          type: integer
          description: The unique identifier for the phase.
          format: int64
          example: 201
        phaseName:
          type: string
          description: The name of the phase.
          readOnly: true
          example: Go live
      description: Project phase associated with the time entry
    TimesheetsUserPublicAPI:
      type: object
      properties:
        emailId:
          type: string
          description: Email ID
          example: john.doe@rocketlane.com
        userId:
          type: integer
          description: User ID
          format: int64
          example: 201
        firstName:
          type: string
          description: First name
          readOnly: true
          example: John
        lastName:
          type: string
          description: Last name
          readOnly: true
          example: Doe
      description: User associated with the time entry
    TimeEntryBillRatePublicAPI:
      type: object
      properties:
        rate:
          type: number
          description: The monetary amount assigned to a specific service or activity.
          example: 40
        currency:
          type: string
          description: The three-letter ISO currency code representing the currency in which transactions are conducted.
          example: EUR
      description: The hourly rate charged to customers for the projects or services provided.
    TimeEntryApprovedByPublicResponse:
      type: object
      properties:
        emailId:
          type: string
          description: The user's email identifier.
          example: john.doe@rocketlane.com
        userId:
          type: integer
          description: The unique identifier for the user.
          format: int64
          readOnly: true
          example: 201
        firstName:
          type: string
          description: The first name of the user.
          readOnly: true
          example: John
        lastName:
          type: string
          description: The last name of the user.
          readOnly: true
          example: Doe
      description: User who approved the time entry
    ExamplePaginationTimeEntries:
      type: object
      properties:
        pageSize:
          type: integer
          description: Denotes the page size mentioned in the current request (limit). It defaults to 100 if left blank.
          format: int32
          example: 100
        hasMore:
          type: boolean
          description: Tells us if there is more content.
          example: true
        totalRecordCount:
          type: integer
          description: Denotes the total resources matching the filters.
          format: int64
          example: 10398
        nextPage:
          type: string
          description: Denotes an API URL, which can be conveniently called to perform the subsequent search call to get to the next page.
          example: https://api.rocketlane.com/api/1.0/time-entries?includeFields=category,minutes&billable.eq=false&sortBy=startDate&sortOrder=desc&pageToken=e4a3dd8e-e338-11ed-b5ea-0242ac120002&limit=100&assignee.any=1&startDate.gt=2022-01-02
        nextPageToken:
          type: string
          description: Denotes a unique token that points to the next page of resources. To get results from subsequent pages, you can use the nextPageToken available in the response under pagination. This token is valid for 15 minutes.
          example: e4a3dd8e-e338-11ed-b5ea-0242ac120002
      description: Responses that return multiple objects will be paginated. The pagination params define how pages are structured and how to traverse through pages.
    Example404:
      type: object
      properties:
        errorCode:
          type: string
          description: 'Error code refers to the type of error that you are facing. Some examples of error codes are: `BAD_REQUEST`, `NOT_FOUND`, `INTERNAL_SERVER_ERROR`.'
          example: NOT_FOUND
        errorMessage:
          type: string
          description: Error message describes in brief about the issue. You can read the error message to get a understanding of where the request went wrong and attempt to fix it.
          example: 'Not Found: Resource not found for given ID'
  securitySchemes:
    api-key:
      type: apiKey
      name: api-key
      in: header
x-readme:
  proxy-enabled: false
  explorer-enabled: true
  samples-enabled: true
