openapi: 3.0.1
info:
  title: Rocketlane Comments Fields API
  description: Rocketlane API
  version: '1.0'
servers:
- url: https://api.rocketlane.com/api
  description: Production
- url: https://api.nitro.run/api
  description: Staging
- url: https://project.api.orbits.run/api
  description: Orbits
security:
- api-key:
  - 'read : write'
tags:
- name: Fields
  description: Endpoints for fields resource
paths:
  /1.0/fields/{fieldId}:
    get:
      tags:
      - Fields
      summary: Get field by Id
      operationId: get-field
      parameters:
      - name: fieldId
        in: path
        description: The field's unique, system-generated identifier, which can be used to identify the field globally.
        required: true
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 1
        example: 200
      - name: includeFields
        in: query
        description: This query parameter allows you to specify which field properties should be returned in the response body by selecting from the drop down. To get the relevant field properties, use comma separated values. If this field is left blank, the default properties are returned.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - options
      - name: includeAllFields
        in: query
        description: This query parameter allows you to specify if all the field properties should be returned in the response body. If the field is left blank, the default field properties are returned.
        required: false
        schema:
          type: boolean
          example: true
      responses:
        '200':
          description: The requested action was successfully executed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldModelPublicResponseAPIEntity'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
        '404':
          description: If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundErrorlist'
    put:
      tags:
      - Fields
      summary: Update field by Id
      operationId: update-field
      parameters:
      - name: fieldId
        in: path
        description: The field's unique, system-generated identifier, which can be used to identify the field globally.
        required: true
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 1
        example: 200
      - name: includeFields
        in: query
        description: This query parameter allows you to specify which field properties should be returned in the response body by selecting from the drop down. To get the relevant field properties, use comma separated values. If this field is left blank, the default properties are returned.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - options
      - name: includeAllFields
        in: query
        description: This query parameter allows you to specify if all the field properties should be returned in the response body. If the field is left blank, the default field properties are returned.
        required: false
        schema:
          type: boolean
          example: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldUpdatePublicRequest'
      responses:
        '200':
          description: The requested action was successfully executed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldModelPublicResponseAPIEntity'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
        '404':
          description: If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundErrorlist'
    delete:
      tags:
      - Fields
      summary: Delete field by Id
      operationId: delete-field
      parameters:
      - name: fieldId
        in: path
        description: The field's unique, system-generated identifier, which can be used to identify the field globally.
        required: true
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 1
        example: 200
      responses:
        '204':
          description: The resource was successfully removed from the database.
          content:
            application/json:
              schema:
                type: string
                example: No Content
                default: No Content
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
        '404':
          description: If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundErrorlist'
  /1.0/fields/{fieldId}/update-option:
    post:
      tags:
      - Fields
      summary: Update field Option
      operationId: update-field-option
      parameters:
      - name: fieldId
        in: path
        description: The field's unique, system-generated identifier, which can be used to identify the field globally.
        required: true
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 1
        example: 200
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldOptionUpdatePublicRequest'
      responses:
        '200':
          description: The requested action was successfully executed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionsPublicAPIResponseEntity'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
        '404':
          description: If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundErrorlist'
  /1.0/fields/{fieldId}/add-option:
    post:
      tags:
      - Fields
      summary: Add field Option
      operationId: add-field-option
      parameters:
      - name: fieldId
        in: path
        description: The field's unique, system-generated identifier, which can be used to identify the field globally.
        required: true
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 1
        example: 200
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldOptionPublicRequest'
      responses:
        '201':
          description: The resource was successfully created in the database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OptionsPublicAPIResponseEntity'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
        '404':
          description: If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundErrorlist'
  /1.0/fields:
    get:
      tags:
      - Fields
      summary: Get all fields
      operationId: get-all-fields
      parameters:
      - name: pageSize
        in: query
        description: This parameter sets the maximum number of responses to be displayed per page. If the page size is insufficient to accommodate the whole number of responses obtained, the pagination object will include a link to the next page as well as the next page token. If left blank, it defaults to 100.
        schema:
          minimum: 0
          type: number
          format: int32
          example: 100
      - name: pageToken
        in: query
        description: Use this parameter to specify the pageToken of a page to which you want to navigate. This pageToken can be obtained from a previous request which specified a limit and will only be active for 15 minutes after it is created.
        schema:
          type: string
          example: 59c12a42-dd10-11ed-afa1-0242ac120002
      - name: includeFields
        in: query
        description: This query parameter allows you to specify which field properties should be returned in the response body by selecting from the drop down. To get the relevant field properties, use comma separated values. If this field is left blank, the default properties are returned.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - options
      - name: includeAllFields
        in: query
        description: This query parameter allows you to specify if all the field properties should be returned in the response body. If the field is left blank, the default field properties are returned.
        schema:
          type: boolean
          example: true
      - name: sortBy
        in: query
        description: You can use the sortBy param to sort the responses by the given field.
        schema:
          type: string
          enum:
          - fieldLabel
      - name: sortOrder
        in: query
        description: The sortOrder param can be used to specify the sorting order, which can be Ascending (ASC) or Descending (DESC). Descending is the default option.
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: match
        in: query
        description: You can use the match param to specify if we need to filter the entries using either AND(all) / OR(any). Defaults to AND.
        schema:
          type: string
          enum:
          - all
          - any
      - name: createdAt.gt
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain fields whose date are greater than the given fields created date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: createdAt.eq
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain exact matches of fields that match the given fields created date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: createdAt.lt
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain fields whose date are less than the given fields created date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: createdAt.ge
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain fields whose date are greater than or equal to the given fields created date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: createdAt.le
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain fields whose date are less than or equal to the given fields created date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: updatedAt.gt
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain fields whose date are greater than the given fields updated date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: updatedAt.eq
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain exact matches of fields that match the given fields updated date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: updatedAt.lt
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain fields whose date are less than the given fields updated date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: updatedAt.ge
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain fields whose date are greater than or equal to the given fields updated date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: updatedAt.le
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain fields whose date are less than or equal to the given fields updated date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: objectType.eq
        in: query
        description: You can use this param to specify a object type for the fields and the responses will contain exact matches of fields that have the given object type.
        schema:
          type: string
          enum:
          - PROJECT
          - TASK
          - USER
      - name: fieldType.eq
        in: query
        description: You can use this param to specify a field type for the fields and the responses will contain exact matches of fields that have the given field type.
        schema:
          type: string
          enum:
          - TEXT
          - MULTI_LINE_TEXT
          - YES_OR_NO
          - DATE
          - SINGLE_CHOICE
          - MULTIPLE_CHOICE
          - SINGLE_USER
          - MULTIPLE_USER
          - NUMBER
          - NOTE
          - RATING
      - name: enabled.eq
        in: query
        description: You can use this parameter to specify whether responses will contains the enabled or disabled fields.
        schema:
          type: boolean
          example: true
      - name: private.eq
        in: query
        description: You can use this parameter to specify whether responses will contains the private or shared fields.
        schema:
          type: boolean
          example: true
      responses:
        '200':
          description: The requested action was successfully executed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExampleAPIResponseFields'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
    post:
      tags:
      - Fields
      summary: Create a Field
      operationId: create-field
      parameters:
      - name: includeFields
        in: query
        description: This query parameter allows you to specify which field properties should be returned in the response body by selecting from the drop down. To get the relevant field properties, use comma separated values. If this field is left blank, the default properties are returned.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - options
      - name: includeAllFields
        in: query
        description: This query parameter allows you to specify if all the field properties should be returned in the response body. If the field is left blank, the default field properties are returned.
        required: false
        schema:
          type: boolean
          example: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldPublicRequest'
      responses:
        '201':
          description: The resource was successfully created in the database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldModelPublicResponseAPIEntity'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
components:
  schemas:
    unauthorizedErrorlist:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Example401'
    OptionsPublicAPIResponseEntity:
      type: object
      properties:
        optionValue:
          minimum: 1
          type: integer
          description: The optionValue is the unique identifier and is unique for each field.
          format: int32
          readOnly: true
          example: 2
        optionLabel:
          minimum: 1
          type: string
          description: The optionLabel reflects the name of the options for the single or multiple choice field.
          readOnly: true
          example: Todo
        optionColor:
          minimum: 1
          type: string
          description: The optionColor reflects the color of the options for the single or multiple choice field.
          readOnly: true
          example: RED
          enum:
          - RED
          - YELLOW
          - GREEN
          - TEAL
          - CYAN
          - BLUE
          - PURPLE
          - MAGENTA
          - GRAY
          - COOL_GRAY
      description: The fieldOptions params define the value and label for the different options available for `SINGLE_CHOICE` and `MULTIPLE_CHOICE` fields.
      readOnly: true
    FieldOptionPublicRequest:
      required:
      - optionColor
      - optionLabel
      type: object
      properties:
        optionColor:
          type: string
          description: The optionColor reflects the color of the options for the single or multiple choice field.
          example: RED
          enum:
          - RED
          - YELLOW
          - GREEN
          - TEAL
          - CYAN
          - BLUE
          - PURPLE
          - MAGENTA
          - GRAY
          - COOL_GRAY
        optionLabel:
          type: string
          description: The optionLabel reflects the name of the options for the single or multiple choice field.
          example: High
    notFoundErrorlist:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Example404'
    FieldModelPublicResponseForExample:
      type: object
      properties:
        fieldId:
          minimum: 1
          type: integer
          description: The field's unique, system-generated identifier, which can be used to identify the field globally.
          format: int64
          readOnly: true
          example: 201
        fieldLabel:
          type: string
          description: The fieldLabel is the name of the custom field
          readOnly: true
          example: MRR
        fieldDescription:
          type: string
          description: The description of the field
          example: Priority of the bug.
        fieldType:
          type: string
          description: This defines type of the field. Refer [Custom Fields](https://developer.rocketlane.com/v1.0/docs/custom-fields) for further information
          readOnly: true
          example: MULTI_LINE_TEXT
          enum:
          - TEXT
          - MULTI_LINE_TEXT
          - YES_OR_NO
          - DATE
          - SINGLE_CHOICE
          - MULTIPLE_CHOICE
          - SINGLE_USER
          - MULTIPLE_USER
          - NUMBER
          - NOTE
          - RATING
        objectType:
          type: string
          description: This defines type of object that is associated with the field. This could be `TASK`, `PROJECT` or `USER`.
          readOnly: true
          example: TASK
        fieldOptions:
          type: array
          description: The fieldOptions params define the value and label for the different options available for `SINGLE_CHOICE` and `MULTIPLE_CHOICE` fields.
          readOnly: true
          items:
            $ref: '#/components/schemas/OptionsPublicAPIResponseEntity'
        ratingScale:
          type: string
          description: The number of stars in the Rating Scale when Field Type is `RATING`.
          example: THREE
          enum:
          - THREE
          - FIVE
          - SEVEN
          - TEN
        createdBy:
          $ref: '#/components/schemas/FieldCreatedByUserPublicAPI'
        updatedBy:
          $ref: '#/components/schemas/FieldUpdatedByUserPublicAPI'
        createdAt:
          type: integer
          description: The time when the field was created. The referenced time will be in epoch millis.
          format: int64
          example: 1681319726000
        updatedAt:
          type: integer
          description: The time when the field was last updated. Any changes that's related to the field are captured and specified here in epoch millis.
          format: int64
          example: 1681319726000
        enabled:
          type: boolean
          description: This depicts if the field is enabled or not. Only those fields which are enabled will reflect in the account.
          example: false
        private:
          type: boolean
          description: This depicts if the field is private or not.
          example: false
      description: Reflects all the default and custom fields and their values for the object searched, in an array format. If the includeFields param is utilised in the request body, it will return a customised response.
    ExampleAPIResponseFields:
      type: object
      properties:
        data:
          type: array
          description: Reflects all the default and custom fields and their values for the object searched, in an array format. If the includeFields param is utilised in the request body, it will return a customised response.
          items:
            $ref: '#/components/schemas/FieldModelPublicResponseForExample'
        pagination:
          $ref: '#/components/schemas/ExamplePaginationFields'
    ExamplePaginationFields:
      type: object
      properties:
        pageSize:
          type: integer
          description: Denotes the page size mentioned in the current request (limit). It defaults to 100 if left blank.
          format: int32
          example: 100
        hasMore:
          type: boolean
          description: Tells us if there is more content.
          example: true
        totalRecordCount:
          type: integer
          description: Denotes the total resources matching the filters.
          format: int64
          example: 10398
        nextPage:
          type: string
          description: Denotes an API URL, which can be conveniently called to perform the subsequent search call to get to the next page.
          example: https://api.rocketlane.com/api/1.0/fields?includeFields=category,minutes&billable.eq=false&sortBy=startDate&sortOrder=desc&pageToken=e4a3dd8e-e338-11ed-b5ea-0242ac120002&limit=100&assignee.any=1&startDate.gt=2022-01-02
        nextPageToken:
          type: string
          description: Denotes a unique token that points to the next page of resources. To get results from subsequent pages, you can use the nextPageToken available in the response under pagination. This token is valid for 15 minutes.
          example: e4a3dd8e-e338-11ed-b5ea-0242ac120002
      description: Responses that return multiple objects will be paginated. The pagination params define how pages are structured and how to traverse through pages.
    badRequestErrorlist:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Example400'
    FieldPublicRequest:
      required:
      - fieldLabel
      - fieldType
      - objectType
      type: object
      properties:
        fieldId:
          minimum: 0
          type: integer
          description: The field's unique, system-generated identifier, which can be used to identify the field globally.
          format: int64
          readOnly: true
          example: 201
        fieldLabel:
          type: string
          description: The fieldLabel is the name of the field.
          example: Priority
        fieldDescription:
          type: string
          description: The description of the field.
          example: Priority of the bug.
        fieldType:
          type: string
          description: This defines type of the field. Refer [Custom Fields](https://developer.rocketlane.com/v1.0/docs/custom-fields) for further information
          example: MULTI_LINE_TEXT
          enum:
          - TEXT
          - MULTI_LINE_TEXT
          - YES_OR_NO
          - DATE
          - SINGLE_CHOICE
          - MULTIPLE_CHOICE
          - SINGLE_USER
          - MULTIPLE_USER
          - NUMBER
          - NOTE
          - RATING
        objectType:
          type: string
          description: This defines type of object that is associated with the field. This could be `TASK`, `PROJECT` or `USER`.
          example: PROJECT
          enum:
          - PROJECT
          - TASK
          - USER
        fieldOptions:
          type: array
          description: The fieldOptions params define the value and label for the different options available for `SINGLE_CHOICE` and `MULTIPLE_CHOICE` fields.
          items:
            $ref: '#/components/schemas/FieldOptionPublicRequest'
        ratingScale:
          type: string
          description: The number of stars in the Rating Scale when Field Type is `RATING`.
          example: THREE
          enum:
          - THREE
          - FIVE
          - SEVEN
          - TEN
        enabled:
          type: boolean
          description: This depicts if the field is enabled or not. Only those fields which are enabled will reflect in the account.
          example: false
          default: true
        private:
          type: boolean
          description: This depicts if the field is private or not.
          example: false
    FieldCreatedByUserPublicAPI:
      type: object
      properties:
        emailId:
          type: string
          description: The team member's email identifier.
          example: john.doe@rocketlane.com
        userId:
          type: integer
          description: The unique identifier for the team member.
          format: int64
          readOnly: true
          example: 201
        firstName:
          type: string
          description: The first name of the team member.
          readOnly: true
          example: John
        lastName:
          type: string
          description: The last name of the team member.
          readOnly: true
          example: Doe
      description: The team member who created the field.
      readOnly: true
    FieldUpdatePublicRequest:
      type: object
      properties:
        fieldLabel:
          type: string
          description: The fieldLabel is the name of the field.
          example: Priority
        fieldDescription:
          type: string
          description: The description of the field.
          example: Priority of the bug.
        enabled:
          type: boolean
          description: This depicts if the field is enabled or not. Only those fields which are enabled will reflect in the account.
          example: false
        private:
          type: boolean
          description: This depicts if the field is private or not.
          example: false
    Example400:
      type: object
      properties:
        errorCode:
          type: string
          description: 'Error code refers to the type of error that you are facing. Some examples of error codes are: `BAD_REQUEST`, `NOT_FOUND`, `INTERNAL_SERVER_ERROR`.'
          example: BAD_REQUEST
        errorMessage:
          type: string
          description: Error message describes in brief about the issue. You can read the error message to get a understanding of where the request went wrong and attempt to fix it.
          example: 'Bad Request: Minutes is negative'
        field:
          type: string
          description: Fields refers to the parameter/field that was invalid in the request (if any). It will point you to the field that needs attention.
          example: minutes
    FieldUpdatedByUserPublicAPI:
      type: object
      properties:
        emailId:
          type: string
          description: The team member's email identifier.
          example: john.doe@rocketlane.com
        userId:
          type: integer
          description: The unique identifier for the team member.
          format: int64
          readOnly: true
          example: 201
        firstName:
          type: string
          description: The first name of the team member.
          readOnly: true
          example: John
        lastName:
          type: string
          description: The last name of the team member.
          readOnly: true
          example: Doe
      description: The team member who updated the field.
      readOnly: true
    FieldModelPublicResponseAPIEntity:
      type: object
      properties:
        fieldId:
          minimum: 1
          type: integer
          description: The field's unique, system-generated identifier, which can be used to identify the field globally.
          format: int64
          readOnly: true
          example: 201
        fieldLabel:
          type: string
          description: The fieldLabel is the name of the custom field
          readOnly: true
          example: MRR
        fieldDescription:
          type: string
          description: The description of the field
          example: Priority of the bug.
        fieldType:
          type: string
          description: This defines type of the field. Refer [Custom Fields](https://developer.rocketlane.com/v1.0/docs/custom-fields) for further information
          readOnly: true
          example: MULTI_LINE_TEXT
          enum:
          - TEXT
          - MULTI_LINE_TEXT
          - YES_OR_NO
          - DATE
          - SINGLE_CHOICE
          - MULTIPLE_CHOICE
          - SINGLE_USER
          - MULTIPLE_USER
          - NUMBER
          - NOTE
          - RATING
        objectType:
          type: string
          description: This defines type of object that is associated with the field. This could be `TASK`, `PROJECT` or `USER`.
          readOnly: true
          example: TASK
        fieldOptions:
          type: array
          description: The fieldOptions params define the value and label for the different options available for `SINGLE_CHOICE` and `MULTIPLE_CHOICE` fields.
          readOnly: true
          items:
            $ref: '#/components/schemas/OptionsPublicAPIResponseEntity'
        ratingScale:
          type: string
          description: The number of stars in the Rating Scale when Field Type is `RATING`.
          example: THREE
          enum:
          - THREE
          - FIVE
          - SEVEN
          - TEN
        createdBy:
          $ref: '#/components/schemas/FieldCreatedByUserPublicAPI'
        updatedBy:
          $ref: '#/components/schemas/FieldUpdatedByUserPublicAPI'
        createdAt:
          type: integer
          description: The time when the field was created. The referenced time will be in epoch millis.
          format: int64
          example: 1681319726000
        updatedAt:
          type: integer
          description: The time when the field was last updated. Any changes that's related to the field are captured and specified here in epoch millis.
          format: int64
          example: 1681319726000
        enabled:
          type: boolean
          description: This depicts if the field is enabled or not. Only those fields which are enabled will reflect in the account.
          example: false
        private:
          type: boolean
          description: This depicts if the field is private or not.
          example: false
    FieldOptionUpdatePublicRequest:
      required:
      - optionValue
      type: object
      properties:
        optionValue:
          type: integer
          description: The optionValue is the unique identifier and is unique for each field.
          format: int32
          example: 3
        optionColor:
          type: string
          description: The optionColor reflects the color of the options for the single or multiple choice field.
          example: RED
          enum:
          - RED
          - YELLOW
          - GREEN
          - TEAL
          - CYAN
          - BLUE
          - PURPLE
          - MAGENTA
          - GRAY
          - COOL_GRAY
        optionLabel:
          type: string
          description: The optionLabel reflects the name of the options for the single or multiple choice field.
          example: High
    Example404:
      type: object
      properties:
        errorCode:
          type: string
          description: 'Error code refers to the type of error that you are facing. Some examples of error codes are: `BAD_REQUEST`, `NOT_FOUND`, `INTERNAL_SERVER_ERROR`.'
          example: NOT_FOUND
        errorMessage:
          type: string
          description: Error message describes in brief about the issue. You can read the error message to get a understanding of where the request went wrong and attempt to fix it.
          example: 'Not Found: Resource not found for given ID'
    Example401:
      type: object
      properties:
        errorCode:
          type: string
          description: 'Error code refers to the type of error that you are facing. Some examples of error codes are: `BAD_REQUEST`, `NOT_FOUND`, `INTERNAL_SERVER_ERROR`.'
          example: NOT_AUTHORIZED
        errorMessage:
          type: string
          description: Error message describes in brief about the issue. You can read the error message to get a understanding of where the request went wrong and attempt to fix it.
          example: 'Not Authorized: User not authorized'
  securitySchemes:
    api-key:
      type: apiKey
      name: api-key
      in: header
x-readme:
  proxy-enabled: false
  explorer-enabled: true
  samples-enabled: true
