openapi: 3.0.1
info:
  title: Rocketlane Comments Space Documents API
  description: Rocketlane API
  version: '1.0'
servers:
- url: https://api.rocketlane.com/api
  description: Production
- url: https://api.nitro.run/api
  description: Staging
- url: https://project.api.orbits.run/api
  description: Orbits
security:
- api-key:
  - 'read : write'
tags:
- name: Space Documents
  description: Endpoints for space tabs resource
paths:
  /1.0/space-documents/{spaceDocumentId}:
    get:
      tags:
      - Space Documents
      summary: Get space document by Id
      operationId: get-space-document
      parameters:
      - name: spaceDocumentId
        in: path
        description: The space document's unique, system-generated identifier, which can be used to identify the space document globally.
        required: true
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 1
        example: 200
      responses:
        '200':
          description: The requested action was successfully executed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceTabPublicResponseAPIEntity'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
        '404':
          description: If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundErrorlist'
    put:
      tags:
      - Space Documents
      summary: Update space document by Id
      operationId: update-space-document
      parameters:
      - name: spaceDocumentId
        in: path
        description: The space document's unique, system-generated identifier, which can be used to identify the space document globally.
        required: true
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 1
        example: 200
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpaceTabUpdatePublicRequestAPIEntity'
      responses:
        '200':
          description: The requested action was successfully executed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceTabPublicResponseAPIEntity'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
        '404':
          description: If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundErrorlist'
    delete:
      tags:
      - Space Documents
      summary: Delete space document by Id
      operationId: delete-space-document
      parameters:
      - name: spaceDocumentId
        in: path
        description: The space document's unique, system-generated identifier, which can be used to identify the space document globally.
        required: true
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 1
        example: 200
      responses:
        '204':
          description: The resource was successfully removed from the database.
          content:
            application/json:
              schema:
                type: string
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
        '404':
          description: If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundErrorlist'
  /1.0/space-documents:
    get:
      tags:
      - Space Documents
      summary: Get all space documents
      operationId: get-all-space-documents
      parameters:
      - name: projectId
        in: query
        description: You can use this param to specify some value as project id and the responses will contain exact matches of space documents that match the given value.
        required: true
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 1
        example: 200
      - name: pageSize
        in: query
        description: This parameter sets the maximum number of responses to be displayed per page. If the page size is insufficient to accommodate the whole number of responses obtained, the pagination object will include a link to the next page as well as the next page token. If left blank, it defaults to 100.
        schema:
          minimum: 0
          type: number
          format: int32
          example: 100
      - name: pageToken
        in: query
        description: Use this parameter to specify the pageToken of a page to which you want to navigate. This pageToken can be obtained from a previous request which specified a limit and will only be active for 15 minutes after it is created.
        schema:
          type: string
          example: 59c12a42-dd10-11ed-afa1-0242ac120002
      - name: sortBy
        in: query
        description: You can use the sortBy param to sort the responses by the given field.
        schema:
          type: string
          enum:
          - spaceTabName
      - name: sortOrder
        in: query
        description: The sortOrder param can be used to specify the sorting order, which can be Ascending (ASC) or Descending (DESC). Descending is the default option.
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: match
        in: query
        description: You can use the match param to specify if we need to filter the entries using either AND(all) / OR(any). Defaults to AND.
        schema:
          type: string
          enum:
          - all
          - any
      - name: spaceDocumentName.eq
        in: query
        description: You can use this param to specify some space document name and the responses will contain exact matches of space documents that match the given name.
        schema:
          type: string
          example: Stark Onboarding
      - name: spaceDocumentName.cn
        in: query
        description: You can use this param to specify some space document name and the responses will contain matches of space documents that match the given name.
        schema:
          type: string
          example: Stark Onboarding
      - name: spaceDocumentName.nc
        in: query
        description: You can use this param to specify some space document name and the responses will not contain matches of space documents that match the given name.
        schema:
          type: string
          example: Stark Onboarding
      - name: createdAt.gt
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain space documents whose date are greater than the given space documents created date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: createdAt.eq
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain exact matches of space documents that match the given space documents created date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: createdAt.lt
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain space documents whose date are less than the given space documents created date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: createdAt.ge
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain space documents whose date are greater than or equal to the given space documents created date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: createdAt.le
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain space documents whose date are less than or equal to the given space documents created date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: updatedAt.gt
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain space documents whose date are greater than the given space documents updated date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: updatedAt.eq
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain exact matches of space documents that match the given space documents updated date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: updatedAt.lt
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain space documents whose date are less than the given space documents updated date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: updatedAt.ge
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain space documents whose date are greater than or equal to the given space documents updated date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: updatedAt.le
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain space documents whose date are less than or equal to the given space documents updated date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: spaceId.eq
        in: query
        description: You can use this param to specify some value as space id and the responses will contain exact matches of space documents that match the given value.
        schema:
          type: number
          example: 10000
      responses:
        '200':
          description: The requested action was successfully executed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExampleAPIResponseSpaceTabs'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
    post:
      tags:
      - Space Documents
      summary: Create a space document
      operationId: create-space-document
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpaceTabPublicRequestAPIEntity'
      responses:
        '201':
          description: The resource was successfully created in the database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceTabPublicResponseAPIEntity'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
components:
  schemas:
    unauthorizedErrorlist:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Example401'
    notFoundErrorlist:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Example404'
    Example401:
      type: object
      properties:
        errorCode:
          type: string
          description: 'Error code refers to the type of error that you are facing. Some examples of error codes are: `BAD_REQUEST`, `NOT_FOUND`, `INTERNAL_SERVER_ERROR`.'
          example: NOT_AUTHORIZED
        errorMessage:
          type: string
          description: Error message describes in brief about the issue. You can read the error message to get a understanding of where the request went wrong and attempt to fix it.
          example: 'Not Authorized: User not authorized'
    SpacePublicAPISpaceTabResponseEntity:
      type: object
      properties:
        spaceId:
          minimum: 1
          type: integer
          description: The space's unique, system-generated identifier, which can be used to identify the space globally.
          format: int64
          readOnly: true
          example: 201
        spaceName:
          type: string
          description: The name of the space.
          readOnly: true
          example: General space
      description: Information about the space to which the space document belongs to.
    SpaceTabCreatedByUserPublicAPI:
      type: object
      properties:
        emailId:
          type: string
          description: The team members email identifier.
          example: john.doe@rocketlane.com
        userId:
          type: integer
          description: The unique identifier for the user.
          format: int64
          readOnly: true
          example: 201
        firstName:
          type: string
          description: The first name of the user.
          readOnly: true
          example: John
        lastName:
          type: string
          description: The last name of the user.
          readOnly: true
          example: Doe
      description: The team member who created the space document.
    badRequestErrorlist:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Example400'
    SpaceTabPublicResponseForExample:
      type: object
      properties:
        spaceDocumentId:
          minimum: 1
          type: integer
          description: The space document's unique, system-generated identifier, which can be used to identify the space document globally.
          format: int64
          readOnly: true
          example: 201
        spaceDocumentName:
          type: string
          description: The name of the space document.
          example: Sample file
          default: Untitled
        space:
          $ref: '#/components/schemas/SpacePublicAPISpaceTabResponseEntity'
        spaceDocumentType:
          type: string
          description: Defines the type of the space document. This could be a Rocketlane document or an embedded document.
          example: ROCKETLANE_DOCUMENT
          enum:
          - ROCKETLANE_DOCUMENT
          - EMBEDDED_DOCUMENT
        url:
          type: string
          description: The url that is embedded in the space document.
          example: https://www.google.com
        source:
          $ref: '#/components/schemas/SpaceTabSourcePublicResponse'
        createdAt:
          type: integer
          description: The timestamp when the space document was created.
          format: int64
          example: 1680616174929
        createdBy:
          $ref: '#/components/schemas/SpaceTabCreatedByUserPublicAPI'
        updatedAt:
          type: integer
          description: The timestamp when the space document was last updated.
          format: int64
          example: 1680616174929
        updatedBy:
          $ref: '#/components/schemas/SpaceTabUpdatedByUserPublicAPI'
        private:
          type: boolean
          description: Describes the privacy of the space i.e. if it is private or shared.
          example: true
      description: Reflects all the default and custom fields and their values for the object searched, in an array format. If the includeFields param is utilised in the request body, it will return a customised response.
    SpaceTabPublicResponseAPIEntity:
      type: object
      properties:
        spaceDocumentId:
          minimum: 1
          type: integer
          description: The space document's unique, system-generated identifier, which can be used to identify the space document globally.
          format: int64
          readOnly: true
          example: 201
        spaceDocumentName:
          type: string
          description: The name of the space document.
          example: Sample file
          default: Untitled
        space:
          $ref: '#/components/schemas/SpacePublicAPISpaceTabResponseEntity'
        spaceDocumentType:
          type: string
          description: Defines the type of the space document. This could be a Rocketlane document or an embedded document.
          example: ROCKETLANE_DOCUMENT
          enum:
          - ROCKETLANE_DOCUMENT
          - EMBEDDED_DOCUMENT
        url:
          type: string
          description: The url that is embedded in the space document.
          example: https://www.google.com
        source:
          $ref: '#/components/schemas/SpaceTabSourcePublicResponse'
        createdAt:
          type: integer
          description: The timestamp when the space document was created.
          format: int64
          example: 1680616174929
        createdBy:
          $ref: '#/components/schemas/SpaceTabCreatedByUserPublicAPI'
        updatedAt:
          type: integer
          description: The timestamp when the space document was last updated.
          format: int64
          example: 1680616174929
        updatedBy:
          $ref: '#/components/schemas/SpaceTabUpdatedByUserPublicAPI'
        private:
          type: boolean
          description: Describes the privacy of the space i.e. if it is private or shared.
          example: true
    SpaceTabSourcePublicResponse:
      type: object
      properties:
        templateId:
          type: integer
          description: The unique identifier for the template.
          format: int64
          example: 201
        templateName:
          type: string
          description: The name of the template.
          readOnly: true
          example: Meeting Notes
      description: Sources denote the document templates based on which the document is created
    SpacePublicAPISpaceTabRequestEntity:
      type: object
      properties:
        spaceId:
          minimum: 1
          type: integer
          description: The space's unique, system-generated identifier, which can be used to identify the space globally.
          format: int64
          example: 201
        spaceName:
          type: string
          description: The name of the space.
          readOnly: true
          example: General space
      description: Information about the space to which the space document belongs to.
    Example400:
      type: object
      properties:
        errorCode:
          type: string
          description: 'Error code refers to the type of error that you are facing. Some examples of error codes are: `BAD_REQUEST`, `NOT_FOUND`, `INTERNAL_SERVER_ERROR`.'
          example: BAD_REQUEST
        errorMessage:
          type: string
          description: Error message describes in brief about the issue. You can read the error message to get a understanding of where the request went wrong and attempt to fix it.
          example: 'Bad Request: Minutes is negative'
        field:
          type: string
          description: Fields refers to the parameter/field that was invalid in the request (if any). It will point you to the field that needs attention.
          example: minutes
    ExamplePaginationSpaceTabs:
      type: object
      properties:
        pageSize:
          type: integer
          description: The size of current page
          format: int32
          example: 100
        hasMore:
          type: boolean
          description: Tells us if there is more content
          example: true
        totalRecordCount:
          type: integer
          description: The total size of the contents
          format: int64
          example: 10398
        nextPage:
          type: string
          description: The url for next page
          example: https://api.rocketlane.com/api/1.0/space-documents?includeFields=category,minutes&billable.eq=false&sortBy=startDate&sortOrder=desc&pageToken=e4a3dd8e-e338-11ed-b5ea-0242ac120002&limit=100&assignee.any=1&startDate.gt=2022-01-02
        nextPageToken:
          type: string
          description: The page token used to go to next page
          example: e4a3dd8e-e338-11ed-b5ea-0242ac120002
      description: Responses that return multiple objects will be paginated. The pagination params define how pages are structured and how to traverse through pages.
    SpaceTabImportPublicAPIRequestEntity:
      type: object
      properties:
        templateId:
          type: integer
          description: The unique identifier for the template.
          format: int64
          example: 201
        templateName:
          type: string
          description: The name of the template.
          readOnly: true
          example: Meeting Notes
      description: Sources denote the document templates based on which the document is created
    SpaceTabUpdatePublicRequestAPIEntity:
      type: object
      properties:
        spaceDocumentId:
          minimum: 1
          type: integer
          description: The space document’s unique, system-generated identifier, which can be used to identify the space document globally.
          format: int64
          readOnly: true
          example: 201
        spaceDocumentName:
          type: string
          description: The name of the space document.
          example: Sample file
        url:
          type: string
          description: The url that is embedded in the space document.
          example: https://www.google.com
    ExampleAPIResponseSpaceTabs:
      type: object
      properties:
        data:
          type: array
          description: Reflects all the default and custom fields and their values for the object searched, in an array format. If the includeFields param is utilised in the request body, it will return a customised response.
          items:
            $ref: '#/components/schemas/SpaceTabPublicResponseForExample'
        pagination:
          $ref: '#/components/schemas/ExamplePaginationSpaceTabs'
    SpaceTabUpdatedByUserPublicAPI:
      type: object
      properties:
        emailId:
          type: string
          description: The team members email identifier.
          example: john.doe@rocketlane.com
        userId:
          type: integer
          description: The unique identifier for the user.
          format: int64
          readOnly: true
          example: 201
        firstName:
          type: string
          description: The first name of the user.
          readOnly: true
          example: John
        lastName:
          type: string
          description: The last name of the user.
          readOnly: true
          example: Doe
      description: The team member who updated the space document.
    Example404:
      type: object
      properties:
        errorCode:
          type: string
          description: 'Error code refers to the type of error that you are facing. Some examples of error codes are: `BAD_REQUEST`, `NOT_FOUND`, `INTERNAL_SERVER_ERROR`.'
          example: NOT_FOUND
        errorMessage:
          type: string
          description: Error message describes in brief about the issue. You can read the error message to get a understanding of where the request went wrong and attempt to fix it.
          example: 'Not Found: Resource not found for given ID'
    SpaceTabPublicRequestAPIEntity:
      required:
      - space
      - spaceDocumentType
      type: object
      properties:
        spaceDocumentId:
          minimum: 1
          type: integer
          description: The space document's unique, system-generated identifier, which can be used to identify the space document globally.
          format: int64
          readOnly: true
          example: 201
        spaceDocumentName:
          type: string
          description: The name of the space document.By default, the name is 'Untitled'.
          example: Sample file
        space:
          $ref: '#/components/schemas/SpacePublicAPISpaceTabRequestEntity'
        spaceDocumentType:
          type: string
          description: Defines the type of the space document. This could be a Rocketlane document or an embedded document.
          example: ROCKETLANE_DOCUMENT
          enum:
          - ROCKETLANE_DOCUMENT
          - EMBEDDED_DOCUMENT
        url:
          type: string
          description: The url that is embedded in the space document.
          example: https://www.google.com
        source:
          $ref: '#/components/schemas/SpaceTabImportPublicAPIRequestEntity'
  securitySchemes:
    api-key:
      type: apiKey
      name: api-key
      in: header
x-readme:
  proxy-enabled: false
  explorer-enabled: true
  samples-enabled: true
