openapi: 3.0.1
info:
  title: Rocketlane Comments Projects API
  description: Rocketlane API
  version: '1.0'
servers:
- url: https://api.rocketlane.com/api
  description: Production
- url: https://api.nitro.run/api
  description: Staging
- url: https://project.api.orbits.run/api
  description: Orbits
security:
- api-key:
  - 'read : write'
tags:
- name: Projects
  description: Endpoints for projects resource
paths:
  /1.0/projects/{projectId}:
    get:
      tags:
      - Projects
      summary: Get project by Id
      operationId: get-project
      parameters:
      - name: projectId
        in: path
        description: The project's unique, system-generated identifier, which can be used to identify the project globally.
        required: true
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 1
        example: 200
      - name: includeFields
        in: query
        description: This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - annualizedRecurringRevenue
            - projectFee
            - allocatedHours
            - allocatedMinutes
            - budgetedHours
            - percentageBudgetedHoursConsumed
            - percentageBudgetConsumed
            - billableHours
            - billableMinutes
            - nonBillableHours
            - nonBillableMinutes
            - trackedHours
            - trackedMinutes
            - progressPercentage
            - startDateActual
            - dueDateActual
            - currentPhase
            - autoAllocation
            - sources
            - inferredProgress
            - plannedDuration
            - projectAgeInDays
            - customersInvited
            - customersJoined
            - externalReferenceId
            - metrics
            - remainingMinutes
            - remainingHours
      - name: includeAllFields
        in: query
        description: This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned.
        required: false
        schema:
          type: boolean
          example: true
      responses:
        '200':
          description: The requested action was successfully executed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectPublicAPIResponseEntity'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
        '404':
          description: If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundErrorlist'
    put:
      tags:
      - Projects
      summary: Update project by Id
      operationId: update-project
      parameters:
      - name: projectId
        in: path
        description: The project's unique, system-generated identifier, which can be used to identify the project globally.
        required: true
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 1
        example: 200
      - name: includeFields
        in: query
        description: This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - annualizedRecurringRevenue
            - projectFee
            - allocatedHours
            - allocatedMinutes
            - budgetedHours
            - percentageBudgetedHoursConsumed
            - percentageBudgetConsumed
            - billableHours
            - billableMinutes
            - nonBillableHours
            - nonBillableMinutes
            - trackedHours
            - trackedMinutes
            - progressPercentage
            - startDateActual
            - dueDateActual
            - currentPhase
            - autoAllocation
            - sources
            - inferredProgress
            - plannedDuration
            - projectAgeInDays
            - customersInvited
            - customersJoined
            - externalReferenceId
            - metrics
            - remainingMinutes
            - remainingHours
      - name: includeAllFields
        in: query
        description: This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned.
        required: false
        schema:
          type: boolean
          example: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectPublicUpdateAPIRequestEntity'
      responses:
        '200':
          description: The requested action was successfully executed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectPublicAPIResponseEntity'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
        '404':
          description: If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundErrorlist'
        '500':
          description: This error denotes that there is an error that occured within our servers. The response body could help narrow down the cause for the error by our support team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serverErrorErrorlist'
    delete:
      tags:
      - Projects
      summary: Delete project by Id
      operationId: delete-project
      parameters:
      - name: projectId
        in: path
        description: The project's unique, system-generated identifier, which can be used to identify the project globally.
        required: true
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 1
        example: 200
      responses:
        '204':
          description: The resource was successfully removed from the database.
          content:
            application/json:
              schema:
                type: string
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
        '404':
          description: If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundErrorlist'
  /1.0/projects/{projectId}/unassign-placeholders:
    post:
      tags:
      - Projects
      summary: Un assign placeholders from an user in a project
      operationId: unassign-placeholders
      parameters:
      - name: projectId
        in: path
        description: The project's unique, system-generated identifier, which can be used to identify the project globally.
        required: true
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 1
        example: 200
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PlaceholderRemoveMappingPublicAPIRequestEntity'
        required: true
      responses:
        '200':
          description: The requested action was successfully executed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectPublicPlaceholdersAPIResponseEntity'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
        '404':
          description: If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundErrorlist'
  /1.0/projects/{projectId}/remove-members:
    post:
      tags:
      - Projects
      summary: Remove members from a project
      operationId: remove-members
      parameters:
      - name: projectId
        in: path
        description: The project's unique, system-generated identifier, which can be used to identify the project globally.
        required: true
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 1
        example: 200
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveMembersPublicAPIRequestEntity'
        required: true
      responses:
        '200':
          description: The requested action was successfully executed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectPublicTeamMembersAPIResponseEntity'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
        '404':
          description: If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundErrorlist'
  /1.0/projects/{projectId}/import-template:
    post:
      tags:
      - Projects
      summary: Import a template to a project
      operationId: import-template
      parameters:
      - name: projectId
        in: path
        description: The project's unique, system-generated identifier, which can be used to identify the project globally.
        required: true
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 1
        example: 200
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProjectImportPublicAPIRequestEntity'
        required: true
      responses:
        '200':
          description: The requested action was successfully executed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectPublicImportTemplateAPIResponseEntity'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
        '404':
          description: If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundErrorlist'
  /1.0/projects/{projectId}/get-placeholders:
    post:
      tags:
      - Projects
      summary: Get placeholders
      description: This endpoint can be used to search for placeholders across project. The response body is paginated and you can control the pagination using the `limit` and `pageToken` parameters.
      operationId: get-placeholders
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: The requested action was successfully executed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExampleAPIResponsePlaceholders'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
        '404':
          description: If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundErrorlist'
  /1.0/projects/{projectId}/assign-placeholders:
    post:
      tags:
      - Projects
      summary: Assign placeholders to an user in a project
      operationId: assign-placeholders
      parameters:
      - name: projectId
        in: path
        description: The project's unique, system-generated identifier, which can be used to identify the project globally.
        required: true
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 1
        example: 200
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PlaceholderMappingPublicAPIRequestEntity'
        required: true
      responses:
        '200':
          description: The requested action was successfully executed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectPublicPlaceholdersAPIResponseEntity'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
        '404':
          description: If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundErrorlist'
  /1.0/projects/{projectId}/archive:
    post:
      tags:
      - Projects
      summary: Archive project by Id
      operationId: archiveProject
      parameters:
      - name: projectId
        in: path
        description: The project's unique, system-generated identifier, which can be used to identify the project globally.
        required: true
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 1
        example: 200
      responses:
        '204':
          description: The resource was successfully removed from the database.
          content:
            application/json:
              schema:
                type: string
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
        '404':
          description: If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundErrorlist'
  /1.0/projects/{projectId}/add-members:
    post:
      tags:
      - Projects
      summary: Add members to a project
      operationId: add-members
      parameters:
      - name: projectId
        in: path
        description: The project's unique, system-generated identifier, which can be used to identify the project globally.
        required: true
        schema:
          minimum: 0
          type: integer
          format: int64
          default: 1
        example: 200
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectAddMembersPublicRequest'
        required: true
      responses:
        '200':
          description: The requested action was successfully executed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectPublicTeamMembersAPIResponseEntity'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
        '404':
          description: If we were unable to locate the resource you were looking for or the proper API endpoint you were looking for, this error would show up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notFoundErrorlist'
  /1.0/projects:
    get:
      tags:
      - Projects
      summary: Get all projects
      operationId: get-all-projects
      parameters:
      - name: pageSize
        in: query
        description: This parameter sets the maximum number of responses to be displayed per page. If the page size is insufficient to accommodate the whole number of responses obtained, the pagination object will include a link to the next page as well as the next page token. If left blank, it defaults to 100.
        schema:
          minimum: 0
          type: number
          format: int32
          example: 100
      - name: pageToken
        in: query
        description: Use this parameter to specify the pageToken of a page to which you want to navigate. This pageToken can be obtained from a previous request which specified a limit and will only be active for 15 minutes after it is created.
        schema:
          type: string
          example: 59c12a42-dd10-11ed-afa1-0242ac120002
      - name: includeFields
        in: query
        description: This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - annualizedRecurringRevenue
            - projectFee
            - allocatedHours
            - allocatedMinutes
            - budgetedHours
            - percentageBudgetedHoursConsumed
            - percentageBudgetConsumed
            - billableHours
            - billableMinutes
            - nonBillableHours
            - nonBillableMinutes
            - trackedHours
            - trackedMinutes
            - progressPercentage
            - startDateActual
            - dueDateActual
            - currentPhase
            - autoAllocation
            - sources
            - inferredProgress
            - plannedDuration
            - projectAgeInDays
            - customersInvited
            - customersJoined
            - externalReferenceId
            - metrics
            - remainingMinutes
            - remainingHours
      - name: includeAllFields
        in: query
        description: This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned.
        schema:
          type: boolean
          example: true
      - name: sortBy
        in: query
        description: For sorting the responses by the provided field, use the sortBy parameter.
        schema:
          type: string
          enum:
          - projectName
          - startDate
          - dueDate
          - startDateActual
          - dueDateActual
          - annualizedRecurringRevenue
          - projectFee
      - name: sortOrder
        in: query
        description: The sortOrder param can be used to specify the sorting order, which can be Ascending (ASC) or Descending (DESC). Descending is the default option.
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: match
        in: query
        description: You can use the match param to specify if we need to filter the entries using either AND(all) / OR(any). Defaults to AND.
        schema:
          type: string
          enum:
          - all
          - any
      - name: startDate.gt
        in: query
        description: You can use this param to provide a date and the responses will contain projects whose date are greater than the given start date.
        schema:
          type: string
          example: '2023-03-28'
      - name: startDate.eq
        in: query
        description: You can use this param to provide a date and the responses will contain exact matches of projects that match the given start date.
        schema:
          type: string
          example: '2023-03-28'
      - name: startDate.lt
        in: query
        description: You can use this param to provide a date and the responses will contain projects whose date are less than the given start date.
        schema:
          type: string
          example: '2023-03-28'
      - name: startDate.ge
        in: query
        description: You can use this param to provide a date and the responses will contain projects whose date are greater than or equal to the given start date.
        schema:
          type: string
          example: '2023-03-28'
      - name: startDate.le
        in: query
        description: You can use this param to provide a date and the responses will contain projects whose date are less than or equal to the given start date.
        schema:
          type: string
          example: '2023-03-28'
      - name: dueDate.gt
        in: query
        description: You can use this param to provide a date and the responses will contain projects whose date are greater than the given due date.
        schema:
          type: string
          example: '2023-03-28'
      - name: dueDate.eq
        in: query
        description: You can use this param to provide a date and the responses will contain exact matches of projects that match the given due date.
        schema:
          type: string
          example: '2023-03-28'
      - name: dueDate.lt
        in: query
        description: You can use this param to provide a date and the responses will contain projects whose date are less than the given due date.
        schema:
          type: string
          example: '2023-03-28'
      - name: dueDate.ge
        in: query
        description: You can use this param to provide a date and the responses will contain projects whose date are greater than or equal to the given due date.
        schema:
          type: string
          example: '2023-03-28'
      - name: dueDate.le
        in: query
        description: You can use this param to provide a date and the responses will contain projects whose date are less than or equal to the given due date.
        schema:
          type: string
          example: '2023-03-28'
      - name: startDateActual.gt
        in: query
        description: You can use this param to provide a date and the responses will contain projects whose date are greater than the given actual start date.
        schema:
          type: string
          example: '2023-03-28'
      - name: startDateActual.eq
        in: query
        description: You can use this param to provide a date and the responses will contain exact matches of projects that match the given actual start date.
        schema:
          type: string
          example: '2023-03-28'
      - name: startDateActual.lt
        in: query
        description: You can use this param to provide a date and the responses will contain projects whose date are less than the given actual start date.
        schema:
          type: string
          example: '2023-03-28'
      - name: startDateActual.ge
        in: query
        description: You can use this param to provide a date and the responses will contain projects whose date are greater than or equal to the given actual start date.
        schema:
          type: string
          example: '2023-03-28'
      - name: startDateActual.le
        in: query
        description: You can use this param to provide a date and the responses will contain projects whose date are less than or equal to the given actual start date.
        schema:
          type: string
          example: '2023-03-28'
      - name: dueDateActual.gt
        in: query
        description: You can use this param to provide a date and the responses will contain projects whose date are greater than the given actual due date.
        schema:
          type: string
          example: '2023-03-28'
      - name: dueDateActual.eq
        in: query
        description: You can use this param to provide a date and the responses will contain exact matches of projects that match the given actual due date.
        schema:
          type: string
          example: '2023-03-28'
      - name: dueDateActual.lt
        in: query
        description: You can use this param to provide a date and the responses will contain projects whose date are less than the given actual due date.
        schema:
          type: string
          example: '2023-03-28'
      - name: dueDateActual.ge
        in: query
        description: You can use this param to provide a date and the responses will contain projects whose date are greater than or equal to the given actual due date.
        schema:
          type: string
          example: '2023-03-28'
      - name: dueDateActual.le
        in: query
        description: You can use this param to provide a date and the responses will contain projects whose date are less than or equal to the given actual due date.
        schema:
          type: string
          example: '2023-03-28'
      - name: createdAt.gt
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain projects whose date are greater than the given project created date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: createdAt.eq
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain exact matches of projects that match the given project created date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: createdAt.lt
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain projects whose date are less than the given project created date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: createdAt.ge
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain projects whose date are greater than or equal to the given project created date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: createdAt.le
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain projects whose date are less than or equal to the given project created date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: updatedAt.gt
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain projects whose date are greater than the given project updated date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: updatedAt.eq
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain exact matches of projects that match the given project updated date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: updatedAt.lt
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain projects whose date are less than the given project updated date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: updatedAt.ge
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain projects whose date are greater than or equal to the given project updated date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: updatedAt.le
        in: query
        description: You can use this param to provide an epoch milli value and the responses will contain projects whose date are less than or equal to the given project updated date.
        schema:
          type: integer
          format: int64
          example: 1625164800000
      - name: annualizedRecurringRevenue.eq
        in: query
        description: You can use this param to specify some value as ARR and the responses will contain exact matches of projects that match the given value.
        schema:
          type: number
          example: 10000
      - name: annualizedRecurringRevenue.gt
        in: query
        description: You can use this param to specify some value as ARR and the responses will contain exact matches of projects greater than that of the given value.
        schema:
          type: number
          example: 10000
      - name: annualizedRecurringRevenue.lt
        in: query
        description: You can use this param to specify some value as ARR and the responses will contain exact matches of projects lesser than that of the given value.
        schema:
          type: number
          example: 10000
      - name: projectFee.eq
        in: query
        description: You can use this param to specify some value as project fee and the responses will contain exact matches of projects that match the given value.
        schema:
          type: number
          example: 10000
      - name: projectFee.gt
        in: query
        description: You can use this param to specify some value as project fee and the responses will contain matches of projects greater than that of the given value.
        schema:
          type: number
          example: 10000
      - name: projectFee.lt
        in: query
        description: You can use this param to specify some value as project fee and the responses will contain matches of projects lesser than that of the given value.
        schema:
          type: number
          example: 10000
      - name: customerId.eq
        in: query
        description: You can use this param to provide a customer company id and the responses will contain exact matches of projects that match the given customer company id.
        schema:
          type: string
          example: 1
      - name: customerId.oneOf
        in: query
        description: You can use this param to provide customer company ids separated by commas and the responses will contain matches of projects that match any of the given customer company id.
        schema:
          type: string
          example: 1,2,3
      - name: customerId.noneOf
        in: query
        description: You can use this param to provide customer company id separated by commas and the responses will not contain matches of projects that match the given set of customer company id.
        schema:
          type: string
          example: 1,2,3
      - name: teamMemberId.eq
        in: query
        description: You can use this param to provide a team member id and the responses will contain exact matches of projects that match the given team member id.
        schema:
          type: string
          example: 1
      - name: teamMemberId.oneOf
        in: query
        description: You can use this param to provide team member ids separated by commas and the responses will contain matches of projects that match any of the given team member id.
        schema:
          type: string
          example: 1,2,3
      - name: teamMemberId.noneOf
        in: query
        description: You can use this param to provide team member id separated by commas and the responses will not contain matches of projects that match the given set of team member id.
        schema:
          type: string
          example: 1,2,3
      - name: companyId.eq
        in: query
        description: You can use this param to provide a customer company id and the responses will contain exact matches of projects that match the given customer company id.
        schema:
          type: string
          example: 1
      - name: companyId.oneOf
        in: query
        description: You can use this param to provide customer company ids separated by commas and the responses will contain matches of projects that match any of the given customer company id.
        schema:
          type: string
          example: 1,2,3
      - name: companyId.noneOf
        in: query
        description: You can use this param to provide customer company id separated by commas and the responses will not contain matches of projects that match the given set of customer company id.
        schema:
          type: string
          example: 1,2,3
      - name: projectName.eq
        in: query
        description: You can use this param to specify some project name and the responses will contain exact matches of projects that match the given name.
        schema:
          type: string
          example: Stark Onboarding
      - name: projectName.cn
        in: query
        description: You can use this param to specify some project name and the responses will contain matches of projects that match the given name.
        schema:
          type: string
          example: Stark Onboarding
      - name: projectName.nc
        in: query
        description: You can use this param to specify some project name and the responses will not contain matches of projects that match the given name.
        schema:
          type: string
          example: Stark Onboarding
      - name: inferredProgress.eq
        in: query
        description: You can use this param to provide a inferred progress  and the responses will contain exact matches of projects that match the given inferred progress.
        style: form
        explode: false
        schema:
          maxItems: 1
          type: array
          items:
            type: string
            enum:
            - ON_TRACK
            - AHEAD_OF_TIME
            - RUNNING_LATE
            - NONE
      - name: contractType.eq
        in: query
        description: You can use this param to provide a contract type and the responses will contain exact matches of projects that match the given contract type
        style: form
        explode: false
        schema:
          maxItems: 1
          type: array
          items:
            type: string
            enum:
            - FIXED_FEE
            - TIME_AND_MATERIAL
            - SUBSCRIPTION
            - NON_BILLABLE
      - name: contractType.oneOf
        in: query
        description: You can use this param to provide contract types separated by commas and the responses will contain matches of projects that match any of the given contract types.
        style: form
        explode: false
        schema:
          maxItems: 4
          type: array
          items:
            type: string
            enum:
            - FIXED_FEE
            - TIME_AND_MATERIAL
            - SUBSCRIPTION
            - NON_BILLABLE
      - name: contractType.noneOf
        in: query
        description: You can use this param to provide contract types separated by commas and the responses will not contain matches of projects that match the given set of contract types.
        style: form
        explode: false
        schema:
          maxItems: 4
          type: array
          items:
            type: string
            enum:
            - FIXED_FEE
            - TIME_AND_MATERIAL
            - SUBSCRIPTION
            - NON_BILLABLE
      - name: budgetedHours.gt
        in: query
        description: You can use this param to provide a budgeted hour and the responses will contain projects whose budgeted hours are greater than the given budgeted hour.
        schema:
          type: string
          example: 1
      - name: budgetedHours.eq
        in: query
        description: You can use this param to provide a budgeted hour and the responses will contain exact matches of projects that match the given budgeted hour.
        schema:
          type: string
          example: 2
      - name: budgetedHours.lt
        in: query
        description: You can use this param to provide a budgeted hour and the responses will contain projects whose budgeted hours are less than the given budgeted hour.
        schema:
          type: string
          example: 1
      - name: budgetedHours.ge
        in: query
        description: You can use this param to provide a budgeted hour and the responses will contain projects whose budgeted hours are greater than or equal to the given budgeted hour.
        schema:
          type: string
          example: 2
      - name: allocatedHours.le
        in: query
        description: You can use this param to provide a allocated hour and the responses will contain projects whose allocated hours are less than or equal to the given allocated hour.
        schema:
          type: string
          example: 1
      - name: allocatedHours.gt
        in: query
        description: You can use this param to provide a allocated hour and the responses will contain projects whose allocated hours are greater than the given allocated hour.
        schema:
          type: string
          example: 1
      - name: allocatedHours.eq
        in: query
        description: You can use this param to provide a allocated hour and the responses will contain exact matches of projects that match the given allocated hour.
        schema:
          type: string
          example: 2
      - name: allocatedHours.lt
        in: query
        description: You can use this param to provide a allocated hour and the responses will contain projects whose allocated hours are less than the given allocated hour.
        schema:
          type: string
          example: 1
      - name: allocatedHours.ge
        in: query
        description: You can use this param to provide a allocated hour and the responses will contain projects whose allocated hours are greater than or equal to the given allocated hour.
        schema:
          type: string
          example: 2
      - name: customersInvited.gt
        in: query
        description: You can use this param to provide a number and the responses will contain projects that have more customers invited than given number of customers invited.
        schema:
          type: string
          example: 1
      - name: customersInvited.eq
        in: query
        description: You can use this param to provide a number and the responses will contain exact matches of projects that exactly have the given number of customers invited.
        schema:
          type: string
          example: 2
      - name: customersInvited.lt
        in: query
        description: You can use this param to provide a number and the responses will contain projects that have less customers invited than given number of customers invited.
        schema:
          type: string
          example: 1
      - name: customersInvited.ge
        in: query
        description: You can use this param to provide a number and the responses will contain projects that have equal or more customers invited than given number of customers invited.
        schema:
          type: string
          example: 2
      - name: customersInvited.le
        in: query
        description: You can use this param to provide a number and the responses will contain projects that have equal or less customers invited than given number of customers invited.
        schema:
          type: string
          example: 1
      - name: customersJoined.gt
        in: query
        description: You can use this param to provide a number and the responses will contain projects that have more customers joined than given number of customers joined.
        schema:
          type: string
          example: 1
      - name: customersJoined.eq
        in: query
        description: You can use this param to provide a number and the responses will contain exact matches of projects that exactly have the given number of customers joined.
        schema:
          type: string
          example: 2
      - name: customersJoined.lt
        in: query
        description: You can use this param to provide a number and the responses will contain projects that have less customers joined than given number of customers joined.
        schema:
          type: string
          example: 1
      - name: customersJoined.ge
        in: query
        description: You can use this param to provide a number and the responses will contain projects that have equal or more customers joined than given number of customers joined.
        schema:
          type: string
          example: 2
      - name: customersJoined.le
        in: query
        description: You can use this param to provide a number and the responses will contain projects that have equal or less customers joined than given number of customers joined.
        schema:
          type: string
          example: 1
      - name: includeArchive.eq
        in: query
        description: You can use this parameter to specify whether responses will include the archived projects.
        schema:
          type: boolean
          example: false
      - name: status.eq
        in: query
        description: You can use this param to provide status and the responses will contain projects that are equal to the given status
        schema:
          type: string
          example: 1
      - name: status.oneOf
        in: query
        description: You can use this param to provide statuses and the responses will contain projects that match one of the given statuses
        schema:
          type: string
          example: 1,2
      - name: status.noneOf
        in: query
        description: You can use this param to provide statuses and the responses will contain projects that matches none of the given statuses
        schema:
          type: string
          example: 1,2
      - name: externalReferenceId.eq
        in: query
        description: You can use this param to provide external reference id and the responses will contain projects that are equal to the given id
        schema:
          type: string
          example: project_181866171876
      responses:
        '200':
          description: The requested action was successfully executed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExampleAPIResponseProjects'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
    post:
      tags:
      - Projects
      summary: Create a project
      operationId: create-project
      parameters:
      - name: includeFields
        in: query
        description: This query parameter allows you to specify which fields should be returned in the response body by selecting from the drop down. To get the relevant fields, use comma separated values. If the field is left blank, the default properties are returned.
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - annualizedRecurringRevenue
            - projectFee
            - allocatedHours
            - allocatedMinutes
            - budgetedHours
            - percentageBudgetedHoursConsumed
            - percentageBudgetConsumed
            - billableHours
            - billableMinutes
            - nonBillableHours
            - nonBillableMinutes
            - trackedHours
            - trackedMinutes
            - progressPercentage
            - startDateActual
            - dueDateActual
            - currentPhase
            - autoAllocation
            - sources
            - inferredProgress
            - plannedDuration
            - projectAgeInDays
            - customersInvited
            - customersJoined
            - externalReferenceId
            - metrics
            - remainingMinutes
            - remainingHours
      - name: includeAllFields
        in: query
        description: This query parameter allows you to specify if all the fields should be returned in the response body. If the field is left blank, the default properties are returned.
        required: false
        schema:
          type: boolean
          example: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectPublicAPIRequestEntity'
      responses:
        '201':
          description: The resource was successfully created in the database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectPublicAPIResponseEntity'
        '400':
          description: This error typically happens when the request payload contains an error. If you want to make sure that the request's parameters are named correctly and are the right data types, you can examine the request's syntax.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequestErrorlist'
        '401':
          description: You see this error when trying to access this resource without being authenticated. Check the API request header to make sure it is not empty and has a valid api-key that you acquired from the Rocketlane API Settings tab.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorizedErrorlist'
        '500':
          description: This error denotes that there is an error that occured within our servers. The response body could help narrow down the cause for the error by our support team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serverErrorErrorlist'
components:
  schemas:
    SubscriptionFinancialsPublicRequest:
      required:
      - noOfPeriods
      - periodBudget
      - periodMinutes
      - subscriptionFrequency
      - subscriptionStartDate
      type: object
      properties:
        subscriptionFrequency:
          type: string
          description: Refers to the interval at which a subscription renews or takes place, such as on a monthly, quarterly, or yearly basis.
          example: MONTHLY
          enum:
          - MONTHLY
          - QUARTERLY
          - HALF_YEARLY
          - YEARLY
        subscriptionStartDate:
          type: string
          description: The subscription start date is the date when the subscription interval begins. The format for the subscription start date is YYYY-MM-DD.
          example: '2023-03-28'
        periodMinutes:
          minimum: 1
          type: integer
          description: Period minutes refer to the budgeted minutes for each subscription period.
          format: int32
          example: 60
        periodBudget:
          type: number
          description: Period budget represents the fixed budget of every subscription period.
          format: double
          example: 10000
        noOfPeriods:
          minimum: 1
          type: integer
          description: Represents the number of periods in a subscription.
          format: int32
          example: 10
      description: This section addresses the financial aspects of the Subscription contract type projects and its associated fields.
    ProjectFieldPublicResponseAPIEntity:
      type: object
      properties:
        fieldId:
          minimum: 1
          type: integer
          description: The field identifier
          format: int64
          readOnly: true
          example: 201
        fieldLabel:
          type: string
          description: The `fieldLabel` is the name of the custom project field
          readOnly: true
          example: MRR
        fieldValue:
          type: string
          description: The `fieldValue` is the value provided while creation or updating. The fieldValue can be a string, an integer, or an number array and it must match the type of the field. Refer [examples](https://developer.rocketlane.com/v1.0/docs/custom-fields#examples-of-requests-and-responses-for-assigning-custom-field-values) to know how each `field_type` is associated with project.
          readOnly: true
          example: '1000'
        fieldValueLabel:
          type: string
          description: The `fieldValueLabel` is the value provided while creation or updating in a String format.
          readOnly: true
          example: '1000'
      description: Fields lists the custom project fields whose values were provided during project creation or updated later. Refer these [examples](https://developer.rocketlane.com/v1.0/docs/custom-fields#examples-of-requests-and-responses-for-assigning-custom-field-values) to know more about different types of custom fields returned in response.
    PlaceholderMappingPublicAPIRequestEntity:
      required:
      - placeholderId
      - user
      type: object
      properties:
        placeholderId:
          type: integer
          description: The unique identifier for the placeholder.
          format: int64
          example: 201
        user:
          $ref: '#/components/schemas/PlaceholderMappingUserPublicAPIRequestEntity'
    ProjectPublicCreatedByResponse:
      type: object
      properties:
        emailId:
          type: string
          description: The team members email identifier.
          example: john.doe@rocketlane.com
        userId:
          type: integer
          description: The unique identifier for the user.
          format: int64
          example: 201
        firstName:
          type: string
          description: The first name of the user.
          readOnly: true
          example: John
        lastName:
          type: string
          description: The last name of the user.
          readOnly: true
          example: Doe
      description: The team member who created the project.
    RolePublicAPIPlaceholderResponseEntity:
      type: object
      properties:
        roleId:
          minimum: 1
          type: integer
          description: The role's unique, system-generated identifier, which can be used to identify the role globally.
          format: int64
          readOnly: true
          example: 201
        roleName:
          type: string
          description: The name of the role.
          readOnly: true
          example: Customer Success
      description: The role of the placeholder.
    ProjectPublicStatusRequest:
      type: object
      properties:
        value:
          minimum: 1
          type: integer
          description: The value of the status field.
          format: int32
          example: 2
      description: The value of the project status can be specified here and this is essential to keep track of the project.
      example: In progress
    badRequestErrorlist:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Example400'
    ProjectPublicUpdatedByResponse:
      type: object
      properties:
        emailId:
          type: string
          description: The team members email identifier.
          example: john.doe@rocketlane.com
        userId:
          type: integer
          description: The unique identifier for the user.
          format: int64
          example: 201
        firstName:
          type: string
          description: The first name of the user.
          readOnly: true
          example: John
        lastName:
          type: string
          description: The last name of the user.
          readOnly: true
          example: Doe
      description: The team member who updated the project
    ProjectOwnerUserPublicAPI:
      type: object
      properties:
        emailId:
          type: string
          description: The project owner's email identifier.
          example: john.doe@rocketlane.com
        userId:
          type: integer
          description: The unique identifier for project owner.
          format: int64
          example: 201
        firstName:
          type: string
          description: The first name of the project owner.
          readOnly: true
          example: John
        lastName:
          type: string
          description: The last name of the project owner.
          readOnly: true
          example: Doe
      description: The project owner is mandatory to be specified along with the project creation. The owner gets access to everything in the project and can be used to control the activities that happens in the project. Project owner will receive project invite email based on their notification configuration
    ProjectPartnerCompanyPublicAPIRequestEntity:
      type: object
      properties:
        companyName:
          type: string
          description: Company Name
          example: Modert Inc
        companyId:
          type: integer
          description: The id of partner company
          format: int64
          example: 201
      description: The `partners` field is used to specify partner companies.
    ExampleAPIResponseProjects:
      type: object
      properties:
        data:
          type: array
          description: Reflects all the default and custom fields and their values for the object searched, in an array format. If the includeFields param is utilised in the request body, it will return a customised response.
          items:
            $ref: '#/components/schemas/ProjectPublicAPIResponseExampleEntity'
        pagination:
          $ref: '#/components/schemas/ExamplePaginationProjects'
    ProjectRateCardPublicRequest:
      minimum: 1
      type: object
      properties:
        rateCardId:
          minimum: 1
          type: integer
          description: The `rateCardId` is the unique identifier of the rate card
          format: int64
          example: 21
      description: Rate cards allow you to standardise bill rates to be charged depending on the roles of the project's resources. If the rate card chosen does not include the bill rates for the project's currency, then the project will not have a rate card set.
      example: 173
    ProjectVendorUserPublicAPI:
      type: object
      properties:
        emailId:
          type: string
          description: The team members email identifier.
          example: john.doe@rocketlane.com
        userId:
          type: integer
          description: The unique identifier for the user.
          format: int64
          example: 201
        firstName:
          type: string
          description: The first name of the user.
          readOnly: true
          example: John
        lastName:
          type: string
          description: The last name of the user.
          readOnly: true
          example: Doe
      description: The team member who last updated the invoice
    Example500:
      type: object
      properties:
        errorCode:
          type: string
          description: 'Error code refers to the type of error that you are facing. Some examples of error codes are: `BAD_REQUEST`, `NOT_FOUND`, `INTERNAL_SERVER_ERROR`.'
          example: SERVER_ERROR
        errorMessage:
          type: string
          description: Error message describes in brief about the issue. You can read the error message to get a understanding of where the request went wrong and attempt to fix it.
          example: 'Server Error: Something went wrong on our end. Could not perform the requested action.'
    ProjectCustomerChampionUserPublicAPI:
      type: object
      properties:
        emailId:
          type: string
          description: The customer champion's email identifier
          example: ruth.bell@acme.com
        userId:
          type: integer
          description: The unique identifier for the customer champion.
          format: int64
          example: 302
        firstName:
          type: string
          description: The first name of the customer champion.
          readOnly: true
          example: Ruth
        lastName:
          type: string
          description: The last name of the customer champion.
          readOnly: true
          example: Bell
      description: The Customer champion is the team member in charge of project management and representing the customer's team.
    PlaceholderPublicResponseForExample:
      type: object
      properties:
        placeholderId:
          minimum: 1
          type: integer
          description: The placeholder's unique, system-generated identifier, which can be used to identify the placeholder globally.
          format: int64
          readOnly: true
          example: 201
        placeholderName:
          type: string
          description: The name of the placeholder.
          example: Customer Success
        project:
          $ref: '#/components/schemas/ProjectPublicAPIPlaceholderResponseEntity'
        role:
          $ref: '#/components/schemas/RolePublicAPIPlaceholderResponseEntity'
        placeholderType:
          type: string
          description: The type of the placeholder.
          enum:
          - NATIVE
          - EXTERNAL
        createdAt:
          type: integer
          description: The time when the placeholder was created. The referenced time will be in epoch millis.
          format: int64
          example: 1681319726000
        updatedAt:
          type: integer
          description: The time when the placeholder was updated. The referenced time will be in epoch millis.
          format: int64
          example: 1681319726000
      description: Reflects all the default and custom fields and their values for the object searched, in an array format. If the includeFields param is utilised in the request body, it will return a customised response.
    unauthorizedErrorlist:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Example401'
    ProjectImportPublicAPIRequestEntity:
      required:
      - startDate
      - templateId
      type: object
      properties:
        prefix:
          type: string
          description: A prefix can be used to distinguish which phase or task corresponds to which template when adding more than one source to a project.
          example: APAC
        startDate:
          type: string
          description: The date on which the template goes into effect for the project.
          format: date
          example: '2023-03-28'
        templateId:
          type: integer
          description: The unique identifier for the template.
          format: int64
          example: 201
    PlaceholderMappingUserPublicAPIRequestEntity:
      type: object
      properties:
        emailId:
          type: string
          description: The member's email identifier.
          example: john.doe@rocketlane.com
        userId:
          type: integer
          description: The unique identifier for the member.
          format: int64
          example: 201
      description: The member from the project to assign/replace the placeholder with. If the placeholder's type is `CUSTOMER`, then the assigning user needs to be a customer user.
    ProjectPublicAPIResponseExampleEntity:
      type: object
      properties:
        projectId:
          minimum: 1
          type: integer
          description: The project's unique, system-generated identifier, which can be used to identify the project globally.
          format: int64
          readOnly: true
          example: 201
        projectName:
          type: string
          description: The name of the project.
          example: Acme onboarding
        startDate:
          type: string
          description: On this date the project's execution officially begins. If sources (templates) are mentioned in the request, the start date is required. For projects without any defined sources, it may be empty. The format for the start date is _YYYY-MM-DD_.
          example: '2023-03-28'
        dueDate:
          type: string
          description: The day on which the project's execution is planned to be completed. The due date is not required and can be left blank. If sources (templates) are included as part of the project creation, the project's due date will be calculated depending on the duration of the specified sources. For projects where both startDate and dueDate are specified, the latter must be on or after the given startDate. The format for the due date is _YYYY-MM-DD_.
          example: '2023-03-28'
        createdAt:
          type: integer
          description: The time when the project was created. The referenced time will be in epoch millis.
          format: int64
          readOnly: true
          example: 1681319726000
        updatedAt:
          type: integer
          description: The time when the project was updated. Any changes that's related to the project are captured and specified here in epoch millis.
          format: int64
          readOnly: true
          example: 1681319726000
        owner:
          $ref: '#/components/schemas/ProjectOwnerUserPublicResponse'
        teamMembers:
          $ref: '#/components/schemas/ProjectResponseMembersResponse'
        status:
          $ref: '#/components/schemas/ProjectStatusPublicResponse'
        fields:
          type: array
          description: Fields lists the custom project fields whose values were provided during project creation or updated later. Refer these [examples](https://developer.rocketlane.com/v1.0/docs/custom-fields#examples-of-requests-and-responses-for-assigning-custom-field-values) to know more about different types of custom fields returned in response.
          items:
            $ref: '#/components/schemas/ProjectFieldPublicResponseAPIEntity'
        customer:
          $ref: '#/components/schemas/CustomerCompanyProjectPublicResponse'
        partnerCompanies:
          type: array
          description: The `partners` field contains list of partner companies.
          readOnly: true
          items:
            $ref: '#/components/schemas/ProjectPartnerCompanyPublicAPIResponseEntity'
        archived:
          type: boolean
          description: The field `archived` denotes whether the project is archived or not. If the project is archived, there's an option to un-archive the project.
          example: false
        visibility:
          type: string
          description: 'Set visibility parameters to restrict who can see your project. There are two options: `EVERYONE` and `MEMBERS`. Selecting `EVERYONE` allows all team members from your firm to view the project, while selecting `MEMBER` restricts access to only those team members who have been specifically invited.'
          example: EVERYONE
          enum:
          - EVERYONE
          - MEMBERS
          - GROUP
        createdBy:
          $ref: '#/components/schemas/ProjectPublicCreatedByResponse'
        updatedBy:
          $ref: '#/components/schemas/ProjectPublicUpdatedByResponse'
        currency:
          type: string
          description: The currency for handling the project’s financials. You can only specify a currency for a project that is added at the account level. Please note that the project’s currency cannot to changed once set.
          readOnly: true
          example: USD
          enum:
          - AFN
          - ALL
          - DZD
          - ARS
          - AMD
          - AUD
          - AZN
          - BHD
          - BDT
          - BYN
          - BZD
          - BOB
          - BAM
          - BWP
          - BRL
          - GBP
          - BND
          - BGN
          - BIF
          - KHR
          - CAD
          - CVE
          - XAF
          - CLP
          - CNY
          - COP
          - KMF
          - CDF
          - CRC
          - HRK
          - CZK
          - DKK
          - DJF
          - DOP
          - EGP
          - ERN
          - EEK
          - ETB
          - EUR
          - GEL
          - GHS
          - GTQ
          - GNF
          - HNL
          - HKD
          - HUF
          - ISK
          - INR
          - IDR
          - IRR
          - IQD
          - ILS
          - JMD
          - JPY
          - JOD
          - KZT
          - KES
          - KWD
          - LVL
          - LBP
          - LYD
          - LTL
          - MOP
          - MKD
          - MGA
          - MYR
          - MUR
          - MXN
          - MDL
          - MAD
          - MZN
          - MMK
          - NAD
          - NPR
          - TWD
          - NZD
          - NIO
          - NGN
          - NOK
          - OMR
          - PKR
          - PAB
          - PYG
          - PEN
          - PHP
          - PLN
          - QAR
          - RON
          - RUB
          - RWF
          - SAR
          - RSD
          - SGD
          - SOS
          - ZAR
          - KRW
          - LKR
          - SDG
          - SEK
          - CHF
          - SYP
          - TZS
          - THB
          - TOP
          - TTD
          - TND
          - TRY
          - USD
          - UGX
          - UAH
          - AED
          - UYU
          - UZS
          - VEF
          - VND
          - XOF
          - YER
          - ZMK
          - ZWL
        financials:
          $ref: '#/components/schemas/ProjectFinancialsPublicResponse'
        startDateActual:
          type: string
          description: The date on which the project status is changed to in progress. The status can be either the default said status (in progress) or custom statuses that are categorised as in progress. It can be null for projects that have not yet begun. The format for the actual start date is _YYYY-MM-DD_.
          example: '2023-03-28'
        dueDateActual:
          type: string
          description: The date when project status gets changed to completed. The status can be either the default provided status (completed) or a custom status that is labelled under the Completed category.  It will be null if the project is yet to be completed. The format for the actual due date is _YYYY-MM-DD_.
          example: '2023-03-28'
        annualizedRecurringRevenue:
          type: integer
          description: Indicates the value of the recurring revenue of the customer's subscriptions for a single calendar year.
          format: int64
          example: 10000
        projectFee:
          type: integer
          description: The total fee that is charged for the project.
          format: int64
          example: 100000
        budgetedHours:
          type: number
          description: 'Budgeted hours represent the total hours allocated for project execution. This value can be edited at any point throughout the project''s duration. You can enter the budgeted hours in decimal form, including both hours and minutes, with up to two decimal places of precision. Eg: 1.65 hrs = 1h 39m(1.65h * 60m = 99m).'
          format: double
          readOnly: true
          example: 10.5
        percentageBudgetedHoursConsumed:
          type: number
          description: The budgeted hours consumed percentage.
          format: double
          readOnly: true
          example: 42
        percentageBudgetConsumed:
          type: number
          description: The budget consumed percentage.
          format: double
          readOnly: true
          example: 42
        trackedHours:
          type: integer
          description: The number of hours tracked as part of `submitted` time-entries are captured here and computed in hours.
          format: int32
          readOnly: true
          example: 530
        trackedMinutes:
          type: number
          description: The number of minutes tracked as part of `submitted` time-entries are captured here and computed in minutes.
          format: double
          readOnly: true
          example: 530
        allocatedHours:
          type: integer
          description: If the project has `allocations` against say users or placeholders, it is collected and computed in hours.
          format: int32
          readOnly: true
          example: 500
        allocatedMinutes:
          type: number
          description: If the project has `allocations` against say users or placeholders, it is collected and computed in minutes.
          format: double
          readOnly: true
          example: 500
        billableHours:
          type: integer
          description: If the project has time entries tracked under billable, it is collected and computed in hours.
          format: int32
          readOnly: true
          example: 500
        billableMinutes:
          type: number
          description: If the project has time entries tracked under billable, it is collected and computed in minutes.
          format: double
          readOnly: true
          example: 500
        nonBillableHours:
          type: integer
          description: If the project has time entries tracked under non-billable, it is collected and computed in hours.
          format: int32
          readOnly: true
          example: 500
        nonBillableMinutes:
          type: number
          description: If the project has time entries tracked under non-billable, it is collected and computed in minutes.
          format: double
          readOnly: true
          example: 500
        remainingHours:
          type: integer
          description: Number of hours left to complete the project or task based on tracked and budgeted hours.
          format: int32
          readOnly: true
          example: 530
        remainingMinutes:
          type: integer
          description: Number of minutes left to complete the project or task and complements RemainingHours.
          format: int32
          readOnly: true
          example: 530
        progressPercentage:
          type: integer
          description: The progress percentage is computed based on the number of tasks that are completed vs the total number of tasks in the project. This can be used to track how much the project has progressed over time.
          format: int32
          readOnly: true
          example: 42
        currentPhases:
          type: array
          description: The phases that are currently marked as in progress are available here.
          readOnly: true
          items:
            $ref: '#/components/schemas/ProjectPhasePublicLiteAPIResponseEntity'
        autoAllocation:
          type: boolean
          description: The field autoAllocation defines whether Auto Allocation is enabled for the project or not. If auto allocation is enabled, instead of adding it manually, the allocations are computed from the tasks duration, effort and the assignees specified in the project.
          example: false
        sources:
          type: array
          description: Sources denotes the project templates involved in creation/ imported post creation of the project.
          readOnly: true
          items:
            $ref: '#/components/schemas/ImportPublicAPIResponseEntity'
        plannedDurationInDays:
          type: integer
          description: The difference between `startDate` and `dueDate` is computed and stored in days as `plannedDurationInDays`.
          format: int32
          readOnly: true
          example: 24
        inferredProgress:
          type: string
          description: 'The `inferredProgress` can be used to know whether the project''s progress is as per the expectation. For eg: the value `ON_TRACK` specifies that the project is in good state and not further action would be necessary to track the progress of it, whereas the value `RUNNING_LATE` means that the project state deviates from the original plan and needs immediate attention.'
          readOnly: true
          example: RUNNING_LATE
          enum:
          - ON_TRACK
          - AHEAD_OF_TIME
          - RUNNING_LATE
          - NONE
        projectAgeInDays:
          type: integer
          description: If both the project actual dates (`startDateActual` and `dueDateActual`) are available, the difference is computed and shown in days. If `dueDateActual` isn't available, then the value is computed by the difference of today's date and the available date under `startDateActual`. The value will be null or not present if `startDateActual` is not available.
          format: int32
          readOnly: true
          example: 38
        customersInvited:
          type: integer
          description: Reflects the number of customers that have been invited to the project.
          format: int32
          readOnly: true
          example: 5
        customersJoined:
          type: integer
          description: CustomersJoined tracks the actual number of customers who joined the project after being invited. It is mostly used to track customer engagement.
          format: int32
          readOnly: true
          example: 12
        externalReferenceId:
          type: string
          description: An externalReferenceId is a unique identifier that links entities or transactions between external systems and Rocketlane, ensuring accurate data correlation and consistency.
          readOnly: true
          example: pr_8171
      description: Reflects all the default and custom fields and their values for the object searched, in an array format. If the includeFields param is utilised in the request body, it will return a customised response.
    RemoveMembersPublicAPIRequestEntity:
      required:
      - members
      type: object
      properties:
        members:
          type: array
          description: The team members from your organization working on the project.
          items:
            $ref: '#/components/schemas/ProjectUsersPublicAPI'
    FixedFeeFinancialsPublicResponse:
      type: object
      properties:
        fixedFee:
          type: number
          description: The project fee for the Fixed fee contract type project.
          format: double
          readOnly: true
          example: 100
      description: This section addresses the financial aspects of the Fixed Fee contract type projects and its associated fields.
      readOnly: true
    ProjectResponseMembersResponse:
      type: object
      properties:
        members:
          type: array
          description: The project team members.
          items:
            $ref: '#/components/schemas/ProjectVendorUserPublicAPI'
        customers:
          type: array
          description: The project customers.
          items:
            $ref: '#/components/schemas/ProjectCustomerUserPublicAPI'
        customerChampion:
          $ref: '#/components/schemas/ProjectCustomerChampionUserPublicAPI'
      description: The teamMembers field can be used to specify the project members, customers and customerChampion. Once the project is created, an invite will be emailed to all the teamMembers specified.
    ProjectFinancialDetailsPublicRequest:
      required:
      - contractType
      type: object
      properties:
        contractType:
          minimum: 1
          type: string
          description: The contract type or the billing method for the project financials.
          enum:
          - FIXED_FEE
          - TIME_AND_MATERIAL
          - NON_BILLABLE
          - SUBSCRIPTION
        fixedFeeContract:
          $ref: '#/components/schemas/FixedFeeFinancialsPublicRequest'
        timeAndMaterialContract:
          $ref: '#/components/schemas/TimeAndMaterialFinancialsPublicRequest'
        subscriptionContract:
          $ref: '#/components/schemas/SubscriptionFinancialsPublicRequest'
      description: This section addresses the financial aspects of the projects and the associated fields.
      example: 1000
    ExampleAPIResponsePlaceholders:
      type: object
      properties:
        data:
          type: array
          description: Reflects all the default and custom fields and their values for the object searched, in an array format. If the includeFields param is utilised in the request body, it will return a customised response.
          items:
            $ref: '#/components/schemas/PlaceholderPublicResponseForExample'
        pagination:
          $ref: '#/components/schemas/ExamplePaginationPlaceholders'
    PlaceholderMappingPublicAPIResponseEntity:
      type: object
      properties:
        placeholder:
          $ref: '#/components/schemas/ProjectPlaceholderResponsePublicAPI'
        placeholderStatus:
          type: string
          description: 'The status of the placeholder: ASSIGNED or UNASSIGNED'
          example: ASSIGNED
          enum:
          - ASSIGNED
          - UNASSIGNED
        user:
          $ref: '#/components/schemas/PlaceholderMappingUserPublicAPIResponseEntity'
        hourlyCostRate:
          type: number
          description: Latest hourly cost rate for the placeholder
          example: 100
        costRateCurrency:
          type: string
          description: Currency for the cost rate
          example: USD
          enum:
          - AFN
          - ALL
          - DZD
          - ARS
          - AMD
          - AUD
          - AZN
          - BHD
          - BDT
          - BYN
          - BZD
          - BOB
          - BAM
          - BWP
          - BRL
          - GBP
          - BND
          - BGN
          - BIF
          - KHR
          - CAD
          - CVE
          - XAF
          - CLP
          - CNY
          - COP
          - KMF
          - CDF
          - CRC
          - HRK
          - CZK
          - DKK
          - DJF
          - DOP
          - EGP
          - ERN
          - EEK
          - ETB
          - EUR
          - GEL
          - GHS
          - GTQ
          - GNF
          - HNL
          - HKD
          - HUF
          - ISK
          - INR
          - IDR
          - IRR
          - IQD
          - ILS
          - JMD
          - JPY
          - JOD
          - KZT
          - KES
          - KWD
          - LVL
          - LBP
          - LYD
          - LTL
          - MOP
          - MKD
          - MGA
          - MYR
          - MUR
          - MXN
          - MDL
          - MAD
          - MZN
          - MMK
          - NAD
          - NPR
          - TWD
          - NZD
          - NIO
          - NGN
          - NOK
          - OMR
          - PKR
          - PAB
          - PYG
          - PEN
          - PHP
          - PLN
          - QAR
          - RON
          - RUB
          - RWF
          - SAR
          - RSD
          - SGD
          - SOS
          - ZAR
          - KRW
          - LKR
          - SDG
          - SEK
          - CHF
          - SYP
          - TZS
          - THB
          - TOP
          - TTD
          - TND
          - TRY
          - USD
          - UGX
          - UAH
          - AED
          - UYU
          - UZS
          - VEF
          - VND
          - XOF
          - YER
          - ZMK
          - ZWL
        hourlyBillRate:
          type: number
          description: Latest hourly Bill rate for the placeholder
          example: 200
        billRateCurrency:
          type: string
          description: Currency for the bill rate
          example: USD
          enum:
          - AFN
          - ALL
          - DZD
          - ARS
          - AMD
          - AUD
          - AZN
          - BHD
          - BDT
          - BYN
          - BZD
          - BOB
          - BAM
          - BWP
          - BRL
          - GBP
          - BND
          - BGN
          - BIF
          - KHR
          - CAD
          - CVE
          - XAF
          - CLP
          - CNY
          - COP
          - KMF
          - CDF
          - CRC
          - HRK
          - CZK
          - DKK
          - DJF
          - DOP
          - EGP
          - ERN
          - EEK
          - ETB
          - EUR
          - GEL
          - GHS
          - GTQ
          - GNF
          - HNL
          - HKD
          - HUF
          - ISK
          - INR
          - IDR
          - IRR
          - IQD
          - ILS
          - JMD
          - JPY
          - JOD
          - KZT
          - KES
          - KWD
          - LVL
          - LBP
          - LYD
          - LTL
          - MOP
          - MKD
          - MGA
          - MYR
          - MUR
          - MXN
          - MDL
          - MAD
          - MZN
          - MMK
          - NAD
          - NPR
          - TWD
          - NZD
          - NIO
          - NGN
          - NOK
          - OMR
          - PKR
          - PAB
          - PYG
          - PEN
          - PHP
          - PLN
          - QAR
          - RON
          - RUB
          - RWF
          - SAR
          - RSD
          - SGD
          - SOS
          - ZAR
          - KRW
          - LKR
          - SDG
          - SEK
          - CHF
          - SYP
          - TZS
          - THB
          - TOP
          - TTD
          - TND
          - TRY
          - USD
          - UGX
          - UAH
          - AED
          - UYU
          - UZS
          - VEF
          - VND
          - XOF
          - YER
          - ZMK
          - ZWL
      description: The list of placeholders and the user mappings.
    ImportPublicAPIResponseEntity:
      type: object
      properties:
        prefix:
          type: string
          description: A prefix can be used to distinguish which phase or task corresponds to which template when adding more than one source to a project.
          example: APAC
        startDate:
          type: string
          description: The date on which the template goes into effect for the project.
          format: date
          example: '2023-03-28'
        templateId:
          type: integer
          description: The unique identifier for the template.
          format: int64
          example: 201
        templateName:
          type: string
          description: The name of the template.
          readOnly: true
          example: Simple Onboarding
      description: Sources denotes the project templates involved in creation/ imported post creation of the project.
      readOnly: true
    Example400:
      type: object
      properties:
        errorCode:
          type: string
          description: 'Error code refers to the type of error that you are facing. Some examples of error codes are: `BAD_REQUEST`, `NOT_FOUND`, `INTERNAL_SERVER_ERROR`.'
          example: BAD_REQUEST
        errorMessage:
          type: string
          description: Error message describes in brief about the issue. You can read the error message to get a understanding of where the request went wrong and attempt to fix it.
          example: 'Bad Request: Minutes is negative'
        field:
          type: string
          description: Fields refers to the parameter/field that was invalid in the request (if any). It will point you to the field that needs attention.
          example: minutes
    FixedFeeFinancialsPublicRequest:
      required:
      - fixedFee
      type: object
      properties:
        fixedFee:
          minimum: 0
          type: number
          description: The project fee for the Fixed fee contract type project.
          format: double
          example: 100.25
      description: This section addresses the financial aspects of the Fixed Fee contract type projects and its associated fields.
    ProjectPartnerCompanyPublicAPIResponseEntity:
      type: object
      properties:
        companyId:
          minimum: 1
          type: integer
          description: The unique identifier for the partner company.
          format: int64
          example: 301
        companyName:
          type: string
          description: The name of the partner company.
          example: Modert Inc
        companyUrl:
          type: string
          description: The URL of the partner company's website. Unless explicitly stated, the value for this field can be left blank.
          example: https://www.modert.com
      description: The `partners` field contains list of partner companies.
      readOnly: true
    ProjectStatusPublicResponse:
      type: object
      properties:
        value:
          minimum: 1
          type: integer
          description: The value of the status field is the unique identifier for status fields.
          format: int32
          readOnly: true
          example: 2
        label:
          type: string
          description: The label is the name of the status.
          readOnly: true
          example: In progress
      description: The project status value along with the label will be present here.
    PlaceholderMappingUserPublicAPIResponseEntity:
      type: object
      properties:
        emailId:
          type: string
          description: The member's email identifier.
          example: john.doe@rocketlane.com
        userId:
          type: integer
          description: The unique identifier for the member.
          format: int64
          example: 201
        firstName:
          type: string
          description: The first name of the project owner.
          readOnly: true
          example: John
        lastName:
          type: string
          description: The last name of the project owner.
          readOnly: true
          example: Doe
        role:
          type: string
          description: Role name of the user assigned to the placeholder
          readOnly: true
          example: Project Manager
      description: The member from the project to assign/replace the placeholder with.
    TimeAndMaterialFinancialsPublicRequest:
      type: object
      properties:
        rateCard:
          $ref: '#/components/schemas/ProjectRateCardPublicRequest'
        projectBudget:
          minimum: 0
          type: number
          description: The project budget allocated for the Time & Material contract type project.
          format: double
          example: 100.25
      description: This section addresses the financial aspects of the Time & Material contract type projects and its associated fields.
    ProjectCustomerUserPublicAPI:
      type: object
      properties:
        emailId:
          type: string
          description: The customers' email identifier.
          example: rachel.green@acme.com
        userId:
          type: integer
          description: The unique identifier for the customer.
          format: int64
          example: 301
        firstName:
          type: string
          description: The first name of the customer.
          readOnly: true
          example: Rachel
        lastName:
          type: string
          description: The last name of the customer.
          readOnly: true
          example: Green
      description: The project customers.
    CustomerCompanyProjectPublicRequest:
      type: object
      properties:
        companyName:
          type: string
          description: The name of the customer company
          example: Acme Inc
        companyId:
          minimum: 1
          type: integer
          description: The company's unique, system-generated identifier, which can be used to identify the company globally.
          format: int64
          readOnly: true
          example: 201
      description: This field is required to identify the `customer` as part of the request. The customer's name is case-sensitive, and an exact match is required for further processing. It should be noted that once the customer information is entered, it cannot be modified during the project's lifespan.
    notFoundErrorlist:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Example404'
    TimeAndMaterialFinancialsPublicResponse:
      type: object
      properties:
        rateCard:
          $ref: '#/components/schemas/ProjectRateCardPublicResponse'
        projectBudget:
          minimum: 1
          type: number
          description: The project budget allocated for the Time & Material contract type project.
          format: double
          example: 100
      description: This section addresses the financial aspects of the Time & Material contract type projects and its associated fields.
      readOnly: true
    ExamplePaginationProjects:
      type: object
      properties:
        pageSize:
          type: integer
          description: Denotes the page size mentioned in the current request (limit). It defaults to 100 if left blank.
          format: int32
          example: 100
        hasMore:
          type: boolean
          description: Tells us if there is more content.
          example: true
        totalRecordCount:
          type: integer
          description: Denotes the total resources matching the filters.
          format: int64
          example: 10398
        nextPage:
          type: string
          description: Denotes an API URL, which can be conveniently called to perform the subsequent search call to get to the next page.
          example: https://api.rocketlane.com/api/1.0/projects?includeFields=category,minutes&billable.eq=false&sortBy=startDate&sortOrder=desc&pageToken=e4a3dd8e-e338-11ed-b5ea-0242ac120002&limit=100&assignee.any=1&startDate.gt=2022-01-02
        nextPageToken:
          type: string
          description: Denotes a unique token that points to the next page of resources. To get results from subsequent pages, you can use the nextPageToken available in the response under pagination. This token is valid for 15 minutes.
          example: e4a3dd8e-e338-11ed-b5ea-0242ac120002
      description: Responses that return multiple objects will be paginated. The pagination params define how pages are structured and how to traverse through pages.
    ProjectAddMembersPublicRequest:
      type: object
      properties:
        members:
          type: array
          description: The project team members.
          items:
            $ref: '#/components/schemas/ProjectVendorUserPublicAPI'
        customers:
          type: array
          description: The project customers.
          items:
            $ref: '#/components/schemas/ProjectCustomerUserPublicAPI'
    serverErrorErrorlist:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Example500'
    ProjectFinancialsPublicResponse:
      type: object
      properties:
        contractType:
          maximum: 1
          type: string
          description: The contract type or the billing method for the project financials.
          readOnly: true
          enum:
          - FIXED_FEE
          - TIME_AND_MATERIAL
          - SUBSCRIPTION
          - NON_BILLABLE
        revenueRecognitionType:
          maximum: 1
          type: string
          description: 'Method used for revenue recognition. Options include:

            TrackedHours/BudgetHours – Revenue is recognized based on the proportion of tracked hours to the budgeted hours.

            TrackedHours/AllocatedHours – Revenue is recognized based on the proportion of tracked hours to the allocated hours'
          readOnly: true
        fixedFeeContract:
          $ref: '#/components/schemas/FixedFeeFinancialsPublicResponse'
        timeAndMaterialContract:
          $ref: '#/components/schemas/TimeAndMaterialFinancialsPublicResponse'
        subscriptionContract:
          $ref: '#/components/schemas/SubscriptionFinancialsPublicResponse'
        metrics:
          $ref: '#/components/schemas/ProjectFinancialsMetrics'
[...]
